<!doctype html>
<html lang="en" ng-app="loudwayApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="LoudWay is an experience based social networking and engagement ecosystem. Discover events, find activities nearby, plan an event, promote your business or event, store digital memories, and network with other users of similar interests in real life.  Available as a mobile application in fall of 2019 on both Android and iOS.">
    <title>LOUDWAY</title>
    <base href="/">
    <link rel="shortcut icon" href="./dist/img/Favicon.ico" type="image/x-icon">
    <link rel="stylesheet" as="style" href="https://fonts.googleapis.com/css?family=Righteous">
    <link rel="stylesheet" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" as="style" href="./dist/css/bootstrap.css">
    <link rel="stylesheet" as="style" href="./dist/css/vjquery.material.form.min.css">
    <link rel="stylesheet" as="style" href="./dist/css/style.min.css">
</head>

<body ng-controller="loudwayAppCtrl">

    <header id="navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <h1 class="navbar-brand logo">
                    <a ng-click="goToHome()">LOUDWAY</a>
                </h1>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" ng-href="#!jobs">CAREERS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ng-href="#!help">HELP CENTER</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ng-href="#!docs">DOCS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ng-href="#!company">COMPANY</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown" href="javascript: void()" id="language" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                                <img src="./dist/img/en.png" alt="USA FLAG" class="language-flag"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div ng-view></div>

    <footer id="footer" class="container-fluid pt-5 pb-5">
        <div class="col-12">
            <p class="logo text-center">loudway</p>
            <div class="text-center pb-4">
                <div class="my-4">
                    <a href="./cs.html" class="btn btn-light"><img src="./dist/img/apple.png" alt="Apple">App Store</a>
                    <a href="./cs.html" class="btn btn-light"><img src="./dist/img/play.png" alt="Google">Google Play Store</a>
                </div>
                <a href="https://bit.ly/2FtzVr0" class="social-icon" title="Facebook"><i class="fa fa-facebook"></i></a>
                <a href="https://bit.ly/2PBPsde" class="social-icon" title="Twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://bit.ly/2BM4owe" class="social-icon" title="Instagram"><i class="fa fa-instagram"></i></a>
                <a href="https://bit.ly/2T7sLyy" class="social-icon" title="Medium"><i class="fa fa-medium"></i></a>
                <a href="#" class="social-icon" title="YouTube"><i class="fa fa-youtube"></i></a>
                <a href="https://bit.ly/2qToaQx" class="social-icon" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
            </div>
            <p class="text-center copyright"> Copyright © 2019 LoudWay, Inc. All Rights Reserved.</p>
        </div>
    </footer>

    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <form role="form" id="contact-form" class="my-6">
                        <div class="form-group">
                            <label for="name">NAME</label>
                            <input type="text" id="name" class="form-control" name="name" placeholder="John Doe" required>
                        </div>
                        <div class="form-group">
                            <label for="email">E-MAIL</label>
                            <input type="email" id="email" name="email" class="form-control" placeholder="xyz@example.com" required>
                        </div>
                        <div class="form-group">
                            <label for="comments"></label>
                            <textarea id="comments" class="form-control" name="comments" rows="5" placeholder="How can we better assist you?" required></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" href="sent-form" class="btn btn-primary w-100" id="form-submit">SUBMIT TO SUPPORT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    </section>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script type="text/javascript" src="./dist/scripts/index.js"></script>
    <script type="text/javascript" src="./dist/scripts/script-min.js"></script>
</body>

</html>
