    <section class="container-fluid po_s_block pb-5 pt-5">
        <div class="text-center w-100">API TERMS OF USE</div>
    </section>

    <section class="container po_t_block">
        <div class="row">
            <div class="main_text col-12 col-lg-10 mt-5 mx-auto text-justify">
                <br>
                <h5>Last Updated: February 2, 2019</h5>
                <p>NOTE: To learn more about LoudWay's Legal Terms, take a look <b><u>here.</u></b></p>
                <br>
                <p><b>1. Terms and Your Acceptance.</b></p>
                <div class="com_text col-10 col-lg-10 mt-3 mx-auto text-justify">
                    <p><span class="title"><b>1.1 Acceptance and Scope.</b></span><br>This API Terms of Use ("API Terms") sets forth the terms and conditions for using the LoudWay APIs and Content available from the LoudWay APIs. Undefined capitalized terms used herein shall have the definitions as set forth in our <u>Terms of Service</u>. By using the LoudWay APIs, you agree to these API Terms without modification and enter into a binding contract with LoudWay, which will be applicable when and if you use the LoudWay APIs. If you do not agree to the API Terms, you may not access or use the LoudWay APIs.</p>
                </div>
                <div class="com_text col-10 col-lg-10 mt-3 mx-auto text-justify">
                    <p><span class="title"><b>1.2 Incorporation By Reference.</b></span><br>These API Terms and the rights and obligations contained in these API Terms are in addition to and are incorporated into the Terms of Service, which applies to all LoudWay Users ("Terms of Service"), by reference. Please read the Terms of Service carefully, as it contains important provisions governing our relationship, including a binding arbitration provision and class action waiver, a disclaimer of warranties, and limitation of liability. Nothing in these API Terms shall be deemed to modify, waive, amend or rescind any other term of the Terms of Service. In the event of a conflict, the Terms of Service shall control.</p>
                </div>
                <div class="com_text col-10 col-lg-10 mt-3 mx-auto text-justify">
                    <p><span class="title"><b>1.3 Modifications.</b></span><br>LoudWay reserves the right to modify these API Terms in accordance with Section 21 of the Terms of Service.</p>
                </div>
                <br>
                <p><b>2. API License.</b></p>
                <div class="com_text col-10 col-lg-10 mt-3 mx-auto text-justify">
                    <p><span class="title"><b>2.1 License.</b></span><br>Subject to the terms and conditions herein, LoudWay grants to you a personal, non-exclusive, non-transferable, non-sub licensable, revocable, limited right to access and use the LoudWay APIs to develop, test and support your Application and to distribute or allow access to your integration of the LoudWay APIs within your Application to end users of your Application, in each case, (a) in compliance with the Terms of Service, including without limitation, these API Terms, and (b) to the extent permitted under all applicable local, state, provincial, national and other laws, rules and regulations. You have no right to distribute or allow access to the stand-alone LoudWay APIs. All rights not expressly granted to you are reserved by LoudWay.</p>
                </div>
                <div class="com_text col-10 col-lg-10 mt-3 mx-auto text-justify">
                    <p><span class="title"><b>2.2 Termination of License.</b></span><br>You may terminate the license and your access to and use of the LoudWay APIs by discontinuing use of all of the LoudWay APIs and closing your API developer account. LoudWay may terminate your access to and use of the LoudWay APIs at any time, with or without notice, (a) for your violation or breach of the Terms of Service, including without limitation, these API Terms; (b) for your misuse or abuse of the LoudWay APIs; (c) if allowing you to access and use the Services would violate any applicable local, state, provincial, national and other laws, rules and regulations or would expose LoudWay to legal liability; or (d) if LoudWay suspends or discontinues any aspect of the LoudWay APIs in accordance with these API Terms. Upon termination: (1) all rights and licenses granted to you will terminate immediately; (2) you will promptly destroy (or at LoudWay's election, return to LoudWay), all LoudWay Confidential Information in your possession or control; and (3) you must delete all Content stored pursuant to your use of the LoudWay APIs and certify destruction in writing to LoudWay within 30 days. The following sections of these API Terms shall survive any termination: 1.1 (Acceptance and Scope), 1.2 (Incorporation by Reference), 5 (Ownership and Relationship of Parties), and 9 (Confidentiality).</p>
                </div>
                <br>
                <p><b>3. Your Obligations and Restrictions.</b></p>
                <div class="com_text col-10 col-lg-10 mt-3 mx-auto text-justify">
                    <p><span class="title"><b>3.1 Storage of Site Content.</b></span><br>As a general matter, you may store Site Content relating to future events, but you may not store any Site Content relating to events that have occurred in the past. The only exception to storing Site Content relating to past events is if a User has given you explicit permission to use and store Site Content relating to that User's past events. This means that without explicit User permission you cannot store venue data, ticket data or other Site Content related to that User's past events or any other past events.</p>
                </div>
                <div class="com_text col-10 col-lg-10 mt-3 mx-auto text-justify">
                    <p><span class="title"><b>3.2 Required Information.</b></span><br>If you display or make available any Site Content regarding an event listing through your Application, your Application must display the event title and display a direct link to the LoudWay webpage associated with that event on the Services. The link may not include a "nofollow" attribute and must be crawl-able by search engines.</p>
                </div>
                <div class="com_text col-10 col-lg-10 mt-3 mx-auto text-justify">
                    <p><span class="title"><b>3.3 Branding.</b></span><br>You must use your own name, company name, logos, trademarks or app names in connection with your Applications and not the company name, logos, trademarks or app names of LoudWay. You have no right or license to use the LoudWay Trademarks (as defined in the Terms of Service) in connection with your Applications or otherwise without LoudWay's prior written consent. Your Applications must make clear to Users that they are not owned, developed or controlled by LoudWay. If you have questions about this, please email us at <u>api@loudway.com</u>.   <br> LoudWay may publicly refer to you as a licensee of the LoudWay APIs. We may also publish your name and logo on our Site and in other marketing or promotional materials without additional consent. </p>
                </div>
                <div class="com_text col-10 col-lg-10 mt-3 mx-auto text-justify">
                    <p><span class="title"><b>3.4 Responsibility.</b></span><br>You are solely responsible for your Application and any use of your Application by Users. Among other things, this means that you are responsible for maintaining your own user agreement and privacy policy for users of your Application and complying with those policies. Your user agreement must permit you and the users of your Application to comply with the Terms of Service, including without limitation, these API Terms and LoudWay's <u>Privacy Policy</u>. Your privacy policy must be at least as protective of Personal Data as LoudWay's Privacy Policy. In general, we expect you to be thoughtful and considerate and not abuse our Users' data. </p>
                </div>
                <div class="com_text col-10 col-lg-10 mt-3 mx-auto text-justify">
                    <p><span class="title"><b>3.5 Rate Limit.</b></span><br>There is a rate limit and a restriction to the data fields displayed per application or service utilizing the LoudWay APIs and you agree that you shall comply with that rate limit and restriction to the data fields at all times. The rate limit is 1000 calls per hour on each OAuth token. These rate limits and restrictions are subject to change from time to time at LoudWay's discretion, effective immediately upon posting. Your use of any methods intended to subvert rate limiting or data field restriction is a violation of these API Terms. If you need more calls or a higher limit, simply email us at api@LoudWay.com and provide an explanation and we will determine whether to increase your rate limit.</p>
                </div>
                <div class="com_text col-10 col-lg-10 mt-3 mx-auto text-justify">
                    <p><span class="title"><b>3.6 Other Restrictions.</b></span><br>Notwithstanding the license granted under Section 2.1, you hereby agree that you shall not:  
                        <br>
                        <ul>
                            (a) use the LoudWay APIs to support your Application if any Content in your Application would violate Section 18 of the Terms of Service or the LoudWay <u>Community Guidelines</u>.
                            <br>
                            (b) use the LoudWay APIs in any manner or for any purpose that violates any law or regulation (including without limitation any laws or regulations regarding the sale or resale of tickets, whether in regard to licensure requirements, maximums or limits on ticket prices, or otherwise) or any right of any person (including but not limited to intellectual property rights, rights of privacy, or rights of personality), or in any manner inconsistent with the Terms of Service, including without limitation, the Privacy Policy and these API Terms;  
                            <br>
                            (c) use the LoudWay APIs to operate any mission critical application where human life or property may be at stake;  
                            <br> 
                            (d) reverse engineer, disassemble, decompile or otherwise attempt to discover the source code or structure, sequence and organization of all or any part of the LoudWay APIs (except that this restriction shall not apply to the limited extent restrictions on reverse engineering are prohibited by applicable local, state, provincial, national or other law, rule or regulation);   
                            <br>
                            (e) rent, lease, resell, distribute, use the LoudWay APIs or Site Content on a stand- alone basis or for timesharing, service bureau or other commercial purposes for direct commercial or monetary gain (as opposed to indirect commercial or monetary gain associated with supporting your Application);   
                            <br>
                            (f) remove or alter any proprietary notices or labels on or in the LoudWay APIs or Site Content;   
                            <br>
                            (g) engage in any activity that interferes with or disrupts the Services;   
                            <br>
                            (h) use the LoudWay APIs in a manner that fails to comply or is inconsistent with any part of the LoudWay API documentation located at 
                            <br>
                            <u>https://www.loudway.com/developer/docs/v1</u>; or   
                            <br>
                            (i) use the LoudWay APIs in, or to develop, a product or service that competes with products or services offered by LoudWay.
                            <br>
                        </ul>
                </div>
                <br>
                <p><b>4. Security and Privacy.</b></p>
                <div class="com_text col-10 col-lg-10 mt-3 mx-auto text-justify">
                    <p><span class="title"><b>4.1 Overview.</b></span><br>LoudWay takes the security and privacy of its Users seriously. Therefore, we have adopted certain minimum requirements that your Applications must meet from a security and privacy perspective that are described in greater detail below.</p>
                </div>
                <div class="com_text col-10 col-lg-10 mt-3 mx-auto text-justify">
                    <p><span class="title"><b>4.2 Notice and Securing User Consent.</b></span><br>Your Application must include a user agreement and privacy policy that your users must accept in accordance with applicable law. Your privacy policy shall accurately describe the collection, use, and disclosure of data and must otherwise comply with applicable law. You shall secure, and are solely responsible for securing, prior, clear, express consent from each LoudWay User whose Content you access via the LoudWay APIs, that grants you permission, to the extent applicable: (i) to access such User's LoudWay account(s); (ii) to retrieve, store and use Content from such account(s); and (iii) to write information to such account(s). Your notice seeking such consent shall be specific as to each purpose for which you will access, retrieve, store, use and write each type of Content. You will strictly comply with the scope of express consent granted you at all times with respect to Content obtained from such User account(s). You will delete all Content for those Users who have revoked consent.</p>
                </div>
                <div class="com_text col-10 col-lg-10 mt-3 mx-auto text-justify">
                    <p><span class="title"><b>4.3 Contact and Cooperation.</b></span><br>You must be reasonably available for LoudWay to contact you with regard to any security questions or concerns. You can change the name of your contact by signing up for a new application <u>key</u>, providing the updated contact information, and using the new application key in lieu of your existing key. If we cannot contact you or we believe that the circumstances require immediate action on our part, then without limiting other rights or remedies we may have, we may suspend your access to the LoudWay APIs during the period of a security issue.</p>
                </div>
                <div class="com_text col-10 col-lg-10 mt-3 mx-auto text-justify">
                    <p><span class="title"><b>4.4 Virus Precautions.</b></span><br>You agree that your Application and any related documents and other materials that you provide to LoudWay will first be checked by you with Internet industry standard up-to-date antivirus and anti-worm software prior to being introduced to the Services and that you will not knowingly or negligently introduce any virus, worm or any other computer code, files or programs that interrupt, destroy or limit the functionality of the Services.</p>
                </div>
                <div class="com_text col-10 col-lg-10 mt-3 mx-auto text-justify">
                    <p><span class="title"><b>4.5 Industry Standards.</b></span><br>You warrant that your networks, operating system and software of web server(s), routers, databases, and computer systems (collectively, the "Systems") are properly configured to securely operate your Application and store Content. Your Application must use reasonable security measures to protect the private information of your users. You must not architect or select Systems in a manner to avoid the foregoing obligations.</p>
                </div>
                <div class="com_text col-10 col-lg-10 mt-3 mx-auto text-justify">
                    <p><span class="title"><b>4.6 Reporting.</b></span><br>You must promptly report any security deficiencies in or intrusions to the Systems that impact or compromise our Site, Site Content, Services, or LoudWay APIs, to LoudWay in writing via email to: <u>api@louday.com</u>. You will work with LoudWay to correct any security deficiency promptly. In the event of any such security deficiency or intrusion, you will collaborate with us to make any statements (i.e. press, blogs, bulletin boards, etc.) regarding such instance.</p>
                </div>
                <div class="com_text col-10 col-lg-10 mt-3 mx-auto text-justify">
                    <p><span class="title"><b>4.7 Security Reviews.</b></span><br>LoudWay will have the right, at its own expense, to inspect and review documentation related to your Application, your Systems and your compliance with this Section 4. Any such review will be conducted during regular business hours in such a manner as not to materially interfere with normal business activities. You will (at your own expense) promptly correct any security flaws determined to exist by LoudWay based on such inspection and review. You will then promptly certify to LoudWay in writing that the security flaw has been corrected, along with a description of the corrective action(s) taken. If a review reveals a material breach of any of these security provisions, you will reimburse LoudWay for the reasonable costs of the review.</p>
                </div>
                <div class="com_text col-10 col-lg-10 mt-3 mx-auto text-justify">
                    <p><span class="title"><b>4.8 LoudWay as a Data Processor.</b></span><br>Organizers may be able to integrate applications developed by third parties that direct LoudWay to process personal data. If you develop an Application for Organizers and other Users to direct LoudWay to export, create, or otherwise process LoudWay data on your Application, you understand that LoudWay is acting as a data processor, and you agree to LoudWay's <u>Data Processing Addendum for Processors and Subprocessors.</u></p>
                </div>
                <br>
                <p><b>5. Ownership And Relationship Of Parties.</b></p>
                <div class="com_text col-10 col-lg-10 mt-3 mx-auto text-justify">
                    <p><span class="title"><b>5.1 Site Content.</b></span><br>As between you and LoudWay, LoudWay owns all rights, title, and interest (including without limitation all intellectual property rights) in and to the (i) LoudWay APIs, and all executables of the APIs; (ii) the Site Content; and (iii) the Services (collectively, the "LoudWay Materials"). Except for the express licenses granted in these API Terms, LoudWay does not grant you any right, title or interest in the LoudWay Materials. You agree to take such actions as LoudWay may reasonably request to effect, perfect or confirm LoudWay's rights to the LoudWay Materials. Any and all suggestions for correction, change and modification to the Services and other feedback (including but not limited to quotations of written or oral feedback), information and reports provided to LoudWay by you (collectively "Feedback"); and all improvements, updates, modifications or enhancements, whether made, created or developed by LoudWay or otherwise relating to Feedback (collectively, "Revisions") are subject to Section 25 of the Terms of Service.</p>
                </div>
                <div class="com_text col-10 col-lg-10 mt-3 mx-auto text-justify">
                    <p><span class="title"><b>5.2 Your Site and Your Application.</b></span><br>You represent and warrant to LoudWay that the use by LoudWay and its Users of your company, organization, or product name and/or logo ("Your Content") and your Application will not violate the rights of any third party (e.g. any intellectual property or other proprietary right), or any applicable law. You hereby grant to LoudWay a paid-up, royalty-free, nonexclusive, worldwide, irrevocable, sub licensable right and license, under all of your intellectual property rights, to copy, use, perform, and display your Application and its content for purposes of marketing, demonstrating, and making your Application available to Users. You may not issue any public announcement regarding your use of the LoudWay APIs that suggests partnership with LoudWay without LoudWay's prior review and written approval, at LoudWay's discretion. Following the termination of the license granted to you in Section 2.1 and upon written request from you, LoudWay shall use reasonable efforts, as determined in its discretion, to remove all references and links to your Application from the Services.</p>
                </div>
                <br>
                <p><b>6. No Exclusivity.</b></p>
                <div class="com_text col-10 col-lg-10 mt-3 mx-auto text-justify">
                    <p>You acknowledge and agree that these API Terms and the license and other rights granted herein do not create an exclusive relationship between you and LoudWay. LoudWay may, or may engage or permit others to, develop applications that are the same or similar to your Application for any purpose, including without limitation any commercial purpose.</p>
                </div>
                <br>
                <p><b>7. Support.</b></p>
                <div class="com_text col-10 col-lg-10 mt-3 mx-auto text-justify">
                    <p>LoudWay reserves the right to change, suspend, or discontinue any aspect of the LoudWay APIs at any time, including the availability of any LoudWay APIs.</p>
                </div>
                <br>
                <p><b>8. Fees And Payments.</b></p>
                <div class="com_text col-10 col-lg-10 mt-3 mx-auto text-justify">
                    <p>LoudWay reserves the right to charge fees for future use of or access to the LoudWay APIs in LoudWay's discretion. If LoudWay decides to charge for any LoudWay APIs, you do not have any obligation to continue to use such LoudWay APIs.</p>
                </div>
                <br>
                <p><b>9. Confidentiality.</b></p>
                <div class="com_text col-10 col-lg-10 mt-3 mx-auto text-justify">
                    <p>"LoudWay Confidential Information" means all non-public LoudWay information relating to the LoudWay APIs, and any other information designated in writing by LoudWay as "Confidential" or an equivalent designation. Without granting any right or license, LoudWay agrees that LoudWay Confidential Information does not include information that (i) is or becomes (through no improper action or inaction by you) generally available to the public, or (ii) was in your possession or known by you without restriction prior to receipt from LoudWay, or (iii) was rightfully disclosed to you by a third party without restriction, or (iv) was independently developed by you without use of any LoudWay Confidential Information. In addition, you shall not disclose LoudWay Confidential Information to any third party without LoudWay's prior written consent, except in instances that you reasonably determine that you are required by a Legal Requirement, provided you use reasonable efforts to limit disclosure and to obtain confidential treatment or a protective order and allow LoudWay to participate in the proceeding (to the extent permitted by the Legal Requirement). For purposes of this Agreement, "Legal Requirement" means any law, rule, regulation, order, subpoena, interrogatory, discovery request, or other legal requirement of a governmental authority. You shall not disclose your developer passwords or other credentials to any third party, and you shall not use LoudWay Confidential Information except for the express purpose for which it was disclosed.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid po_fi_block pb-5 pt-5">
        <div class="cont_article text-left">
            <h3>RELATED DOCUMENTS</h3>
            <a href="#">1. TERMS OF SERVICE</a>
            <a href="#">2. PRIVACY POLICY</a>
            <a href="#">3. COMMUNITY GUIDELINES</a>
            <a href="#">4. DATA PROCESSING ADDENDUM</a>
        </div>
    </section>
