    <section id="contact">
        <div class="container text-center">
            <h2 class="section-title3">We are on a mission to continue building exceptional products for exceptional people.</h2>
            <br><a class="btn btn-primary mt-3 text-white" data-toggle="modal" data-target="#contactModal">VIEW CAREER OPPORTUNITIES</a>
        </div>
    </section>

      <!--  <section id="contact">
        <div class="container text-center">
            <h3 class="section-title3">OUR STORY</h3>
            <h3 class="section-text">Arin Katchikian had a vision to enhance the future of hosting and attending events after a string of long nights out. jason guro was working full tiume while attending school. after being presented the idea of loudway, jason shifted gears and became key in overseeing the development to bring the vision to life.????????? since then, loudway has gained support from countless students, notable organizations, and event planners nationwide. LOUDWAY is combining humans, artifical intelligence, and the art of hosting amazing events into three easy to use platforms. the team of LOUDWAY is working around the clock, driven by the shared philosopy of democratizing Artificial intelligence for all to benefit.</h3>
        </div>
    </section>
    
    <section> 
        <div class="container text-center">
            <h3 class="section-title2">OUR VALUES</h3>
            <div class="section light-bg">
                <div class="container">
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <div class="card features">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="media-body">
                                            <h4 class="card-title">Reliability</h4>
                                            <h3 class="card-text2">NOT ONLY IS LOUDWAY A PLATFORM FOR HOSTING AND ATTENDING EVENTS, THOSE WHO ARE A PART OF THE COMMUNITY HAVE THE ABILITY TO LOOK BACK AT THEIR MEMORIES FOR AN ACCOUNT OF THE EXPERIENCES THEY NEVER WANT TO FORGET. WE BELIEVE IN APPRECIATION, AND THROUGH LOUDWAY YOU HAVE A MEMORY BOOK OF MANY OF THE PRICELESS DAYS IN YOUR LIFE.</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="card features">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="media-body">
                                            <h4 class="card-title">Loyalty</h4>
                                            <h3 class="card-text2">We take responsibility and accouintability at loudway very seriouisly, as they are essential for keeping our promise of bringing exceptional products to the community. our team is always prepared to provide quality support to ensure that all who are a part of the loudway community have the most beneficial experience.</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <div class="card features">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="media-body">
                                            <h4 class="card-title">Teamwork</h4>
                                            <h3 class="card-text2">We believe that a strong team is the most important part of our growth. Our team is constantly working to provide the commmunity a product that is of the highest standard. collaborating in an open environment, the loudway team of developers, designers, and support staff are focused on continuing to improve our platform.</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </section>

    <section id="quote">
        <div class="container text-center">
            <h3 class="section-title6">“IN A FEW YEARS, PEOPLE ARE GOING TO THINK IT’S CRAZY WE USED TO STRESS WHEN PLANNING EVENTS WHEN ALL IT TAKES IS A FEW TAPS.”</h3>
        </div>
    </section> -->