<div ng-controller="comingSoonAppCtrl" id="comingSoonPage">
    <div id="particles-js"></div>

    <div class="splash-container">
        <br>
        <h1>COMING SOON</h1>
        <p>Sign up to receive news as it arrives.</p>

        <div class="form-input-holder">
            <form action="#" method="post">
                <input name="email" type="email" placeholder="Your E-Mail">
                <input type="submit" value="NOTIFY ME">
            </form>

        </div>
        <ul>
            <li><a href="#" target="_blank"><img src="./dist/img/1.png" alt="Instagram" /></a></li>
            <li><a href="https://bit.ly/2FtzVr0" target="_blank"><img src="./dist/img/2.png" alt="Facebook" /></a></li>
            <li><a href="https://bit.ly/2PBPsde" target="_blank"><img src="./dist/img/3.png" alt="Twitter" /></a></li>
            <li><a href="#" target="_blank"><img src="./dist/img/4.png" alt="YouTube" /></a></li>
            <li><a href="#" target="_blank"><img src="./dist/img/5.png" alt="Medium" /></a></li>
            <li><a href="#" target="_blank"><img src="./dist/img/8.png" alt="LinkedIn" /></a></li>
            <li><a href="#" target="_blank"><img src="./dist/img/6.png" alt="Apple App Store" /></a></li>
            <li><a href="#" target="_blank"><img src="./dist/img/7.png" alt="Google Play Store" /></a></li>
        </ul>
    </div>

    <div class="splash-footer">
        <p>Copyright © 2018 LoudWay, Inc. All Rights Reserved.</p>
    </div>

    <script src="./dist/scripts/csparticles.min-min.js"></script>
    <script src="./dist/scripts/csmain-min.js"></script>
</div>
