<div id="csrJobPage" ng-controller="csrJobController">
    <section class="container-fluid jl_s_block pb-5 pt-5">
        <div class="text-center w-100"> Customer Success Representative </div>
        <div class="text-center rtao"> <a ng-href="#!jobs" class="rtao"> <i class="fa fa-caret-square-o-left "></i> GO BACK</a></div>
    </section>
    <section  id="spoiler_list" class="container-fluid jl_t_block p-0">
        <div class="spoiler_item">
            <span class="spoiler" role="tab" data-toggle="collapse" data-target="#tab1content" data-parent="#spoiler_list">
                ABOUT LOUDWAY:
            </span>
            <div id="tab1content" class="collapse in spoiler_text show">
                LoudWay is working to be the world’s largest ticketing and event technology platform, planned to power millions of live experiences around the globe. We build technology that allows anyone to create, share, find and attend events and Activities of all kinds. Music festivals, marathons, conferences, hackathons, political rallies, fundraisers, gaming competitions— you name it, we power it.
            </div>
        </div>
        <div class="spoiler_item">
            <span class="spoiler" role="tab" data-toggle="collapse" data-target="#tab2content" data-parent="#spoiler_list">
                ABOUT THE TEAM:
            </span>
            <div id="tab2content" class="collapse in spoiler_text">
                The Customer Success team provide world class support and relay valuable product expertise to our clients ranging in all sizes. This team provides answers to the event creators who may need help troubleshooting or need advice on best practices to help them achieve their goals. We’re available to provide human interaction to music venues and festivals who may have high urgency, stressful situations in need of immediate support. These interactions can have a crucial impact over a client’s perception of Eventbrite’s product and ultimately the company. This team directly manages clients as well as provides a support mechanism to maintain continuity of support for all client needs within the Communication Team.
            </div>
        </div>
        <div class="spoiler_item">
            <span class="spoiler" role="tab" data-toggle="collapse" data-target="#tab3content" data-parent="#spoiler_list">
                THE CHALLENGE: 
            </span>
            <div id="tab3content" class="collapse in spoiler_text">
                The Customer Success team is responsible for supporting an ever-growing roster of high-profile clients, ranging from small &amp; large venues to outdoor festivals of all sizes. Providing an enterprise grade technology products and services that support live events, Customer Success team members are key participants in the client relationship by continuously managing support by phone, email, and occasionally on site to help clients make the most of the LoudWay platform. This role will directly manage an ongoing portfolio of clientele and provide professional support and expertise to clients of all sizes. The ultimate goal of Customer Success is to ensure client satisfaction with the goal of making every client reference-able.
            </div>
        </div>
        <div class="spoiler_item">
            <span class="spoiler" role="tab" data-toggle="collapse" data-target="#tab4content" data-parent="#spoiler_list">
                ABOUT THIS INTERNSHIP: 
            </span>
            <div id="tab4content" class="collapse in spoiler_text">
                We are looking for a Customer Success Representative who not only thrives on solving problems but who can identify improvements with an eye towards efficiency. This candidate will ultimately provide timely and professional technical product support services on the phone and online to a diverse portfolio of user who use our mobile-based platform. The best fit for this role will have strong technical and web skills and have the ability to take complicated technical subjects and turn them around into easy to comprehend information for the end user. This representative will convey confidence, product knowledge, and integrity on the phone, in person, and in written communication. This person should be professional and personable always balancing the company and the client’s interests. This role requires the ability to multi-task and work independently in a fast-paced and rapidly growing company and includes rotational on-call 24x7 support. Candidates should stay current with industry developments and social media trends. This role may include a variable schedule and could include occasional travel. Some of these shifts may require weekends and/or evenings.
            </div>
        </div>
        <div class="spoiler_item">
            <span class="spoiler" role="tab" data-toggle="collapse" data-target="#tab5content" data-parent="#spoiler_list">
                TOOLS YOU'LL USE: 
            </span>
            <div id="tab5content" class="collapse in spoiler_text">
                <ul>
                    <li>Admin Support Panel</li>
                    <li>Google Suite (E-Mails)</li>
                    <li>Slack</li>
                    <li>Zendesk</li>
                    <li>Intercom</li>
                </ul>
            </div>
        </div>
        <div class="spoiler_item">
            <span class="spoiler" role="tab" data-toggle="collapse" data-target="#tab6content" data-parent="#spoiler_list">
                THE SKILL SET: 
            </span>
            <div id="tab6content" class="collapse in spoiler_text">
                <ul>
                    <li>College student experienced working in a box office, ticketing or a related live event space</li>
                    <li>Service, Tech Support, or Sales experience, with demonstrated success in providing excellent service</li>
                    <li>Excellent planning, organization, attention to detail and implementation skills</li>
                    <li>You are a born problem solver, you take initiative to find creative answers on your own, but recognize when outside assistance is required</li>
                    <li>Resides in United States</li>
                    <li>This position may / may not be a remote work from home position depending on our staffing needs</li>
                </ul>
                <h1 class="spoiler-left">Bonus Points:</h1>
                <ul>
                    <li>Advanced knowledge of ticketing and the event entertainment industry</li>
                    <li>Advanced knowledge of live music venues or festivals</li>
                    <li>Experience with Salesforce, Jira, VOIP telecommunications systems</li>
                    <li>Passionate about music and live events</li>
                    <li>Experienced LoudWay user</li>
                </ul>
            </div>
        </div>
        <div class="spoiler_item">
            <span class="spoiler" role="tab" data-toggle="collapse" data-target="#tab7content" data-parent="#spoiler_list">
                IMPORTANT INFORMATION: 
            </span>
            <div id="tab7content" class="collapse in spoiler_text">
                LoudWay is a proud equal opportunity/affirmative action employer supporting workforce diversity. We do not discriminate based upon race, ethnicity, ancestry, citizenship status, religion, color, national origin, sex (including pregnancy, childbirth, or related medical conditions), marital status, registered domestic partner status, caregiver status, sexual orientation, gender, gender identity, gender expression, transgender status, sexual stereotypes, age, genetic information, military or veteran status, mental or physical disability, political affiliation, status as a victim of domestic violence, assault or stalking, or other applicable legally protected characteristics.
                <br>
                <br>
                FLSA Status: Non Exempt
                <br>
                <br>
                <u><a href="#!doc" class="sm_a">Application Privacy Notice</a></u>
            </div>
        </div>
    </section>

    <br>

    <div class="mar-b-50">
        <a href="javascript: void()" class="apply_job open_qs_tf">APPLY TO MAKE CHANGE</a>
    </div>
</div>
