<div class="docPage">
    <section class="container-fluid po_s_block pb-5 pt-5">
        <div class="text-center w-100">LEGAL POLICY</div>
    </section>

    <section class="container po_t_block">
        <div class="row">
            <div class="main_text col-12 col-lg-10 mt-5 mx-auto text-justify">
                <br>
                <h4>No Refunds</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, delectus, inventore, tempora odio accusamus esse deserunt voluptate eaque modi expedita soluta vel doloremque neque facere magni maxime laboriosam. Veritatis, deleniti!</p>
            </div>
            <div class="main_text col-12 col-lg-10 mt-5 mx-auto text-justify">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, delectus, inventore, tempora odio accusamus esse deserunt voluptate eaque modi expedita soluta vel doloremque neque facere magni maxime laboriosam. Veritatis, deleniti!</p>
            </div>
            <div class="com_text col-10 col-lg-8 mt-3 mx-auto text-justify">
                <p><span class="title">Example:</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, delectus, inventore, tempora odio accusamus esse deserunt voluptate eaque modi expedita soluta vel doloremque neque facere magni maxime laboriosam. Veritatis, deleniti!</p>
            </div>
            <div class="main_text col-12 col-lg-10 mt-5 mx-auto text-justify">
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, delectus, inventore, tempora odio accusamus esse deserunt voluptate eaque modi expedita soluta vel doloremque neque facere magni maxime laboriosam. Veritatis, deleniti!</p>
            </div>
            <div class="main_text col-12 col-lg-10 mt-5 mx-auto text-justify">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, delectus, inventore, tempora odio accusamus esse deserunt voluptate eaque modi expedita soluta vel doloremque neque facere magni maxime laboriosam. Veritatis, deleniti!</p>
            </div>
            <div class="com_text col-10 col-lg-8 mt-3 mx-auto text-justify">
                <p><span class="title">Example:</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, delectus, inventore, tempora odio accusamus esse deserunt voluptate eaque modi expedita soluta vel doloremque neque facere magni maxime laboriosam. Veritatis, deleniti!</p>
                <a href="#" target="_blank">Example link</a>
            </div>
        </div>
    </section>

    <section class="container-fluid po_fi_block pb-5 pt-5">
        <div class="cont_article text-left">
            <h3>RELATED ARTICLES</h3>
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
        </div>
    </section>
</div>
