<div id="docsPage" ng-controller="docsPageCrtl">
    <section class="container-fluid co_s_block h-160">
        <div class="row h-100">
            <div class="text-center align-self-center w-100">LEGAL DOCS</div>
        </div>
    </section>

    <section id="docs" class="container-fluid co_t_block p-0">
        <br>
        <div class="in_block">
            <div class="item">
                <a href="#!apitu">
                    <p>API TERMS OF USE</p>
                </a>
            </div>
            <div class="item">
                <a href="#!tos">
                    <p>TERMS OF SERVICE</p>
                </a>
            </div>
            <div class="item">
                <a href="#!cg">
                    <p>COMMUNITY GUIDELINES</p>
                </a>
            </div>
            <div class="item">
                <a href="#!pp">
                    <p>PRIVACY POLICY</p>
                </a>
            </div>
            <div id="docContent" class="collapse in" role="tabpanel" aria-labelledby="docContent">
                <div class="item">
                    <a href="#!cp">
                        <p>COOKIE POLICY</p>
                    </a>
                </div>
                <div class="item">
                    <a href="#!dpa">
                        <p>DATA PROCESSING ADDENDUM</p>
                    </a>
                </div>
                <div class="item">
                    <a href="#!tcp">
                        <p>TRADEMARK & COPYRIGHT POLICY</p>
                    </a>
                </div>
                <div class="item">
                    <a href="#!ma">
                        <p>MERCHANT AGREEMENT</p>
                    </a>
                </div>
                <div class="item">
                    <a href="#!orpr">
                        <p>ORGANIZER REFUND POLICY REQUIREMENTS</p>
                    </a>
                </div>
            </div>
            <div role="tab" class="jobBtnContainer" data-toggle="collapse" data-parent="#accordion" href="#docContent" aria-expanded="false" aria-controls="docContent" data-target="#docContent">
                <button ng-click="toggleArray[0] = !toggleArray[0]">show {{ toggleArray[0] ? 'more' : 'less'}} </button>
            </div>
        </div>
        <br>
    </section>
</div>
