<div id="helpPage" ng-controller="helpPageCtrl">
    <section class="container-fluid hc_s_block pb-5 pt-5">
        <div class="text-center w-100 advice-heading">Advice and answers from LoudWay.</div>
        <div class="text-center w-50 mx-auto s_t_w">
            <form action="" class="material search_form">
                <button type="submit"><i class="fa fa-search"></i></button>
                <div class="material-input input"><input type="search" name="search" id="search"  ng-model="filterText"><span class="material-bar"></span><label for="search">Search</label></div>
            </form>
        </div>
    </section>

    <section id="hc" class="container-fluid hc_t_block">
        <div class="row pad-lr-60">
            <a href="#!guide1" class="col-6 col-lg-3 help_fb_item">
                Getting Started Guide
            </a>
            <a href="#!article" class="col-6 col-lg-3 help_fb_item">
                Events Guide
            </a>
            <a href="#!article" class="col-6 col-lg-3 help_fb_item">
                App Functionality Guide
            </a>
            <a href="#!article" class="col-6 col-lg-3 help_fb_item open_qs_tf">
                Feature List
            </a>
        </div>
    </section>

    <section id="hc" class="container-fluid hc_fo_block">
        <div class="row pad-lr-80">
            <div class="col-12 col-lg-6" ng-repeat="item in helpData" ng-hide="!questions.length">
                <div class="help_item">
                    <h3><a> {{ item.heading }} </a> </h3>
                    <ul>
                        <li ng-repeat="ques in questions = (item.questions | filter: filterText)" ng-hide="$index > 2">
                            <a href="#!article1"> {{ ques }} </a>
                        </li>
                        <div id="helpTab{{$index}}" class="collapse in">
                            <li ng-repeat="ques in questions = (item.questions | filter: filterText )" ng-hide="$index < 3">
                                <a href="#!article1"> {{ ques }} </a>
                            </li>
                        </div>
                        <li ng-hide="filterText.length > 0">
                            <a data-toggle="collapse" data-target="#helpTab{{ $index }}" class="more-less" ng-click="toggleQuestions(toggleArray[$index], $index)">show {{ toggleArray[$index] ? 'more' : 'less'}} articles</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
