<div ng-controller="homeAppCtrl">
<section class="bg-gradient" id="hero2">
    <div class="container-hero2 mt-5">
        <div class="typing-animation">
            <br>
            <br>
            <br>
            <br>
            <span class="text-change">
            </span>
            <br>
        </div>
        <br>
        <br>
</section>

<section class="bg-gradient" id="hero">
    <div class="container-hero mt-5">
        <div class="img-holder mt-3"><img src="./dist/img/phonea.webp" alt="Phone" class="img-fluid"></div>
</section>

<section id="cards">
    <div class="section light-bg">
        <div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="card-title">CREATE ACTIVITIES</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="card-title">DISCOVER EVENTS</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="card-title">HOST EXPERIENCES</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>
</section>

<section id="features">
    <div id="wrapper" class="skewed d-none d-lg-block">
        <div class="layer top">
            <div class="content-wrap">
                <h2 class="section-title text-center">KEY PLATFORM FEATURES</h2>
                <div class="content-body">
                    <br>
                    <div class="features-text">
                        <h4 class="section-subtitle">HOST DASHBOARD</h4>
                        <p class="section-text">HOSTS CAN CONTROL EVERY ASPECT OF THEIR EVENT WITH OUR ADVANCED DASHBOARD</p>
                    </div>
                    <br>
                    <div class="features-text">
                        <h4 class="section-subtitle">ACTIVITY MAP</h4>
                        <p class="section-text">USE THE MAP TO DISCOVER THINGS TO DO THAT INTEREST YOU NEARBY</p>
                    </div>
                    <br>
                    <div class="features-text">
                        <h4 class="section-subtitle">EASY CHECK-IN</h4>
                        <p class="section-text">ON-SITE GEOFENCE, QR CODE CHECK IN, OR NOTHING AT ALL</p>
                    </div>
                </div>
                <img src="./dist/img/iphone.webp" alt="Features" class="img-fluid">
            </div>
        </div>
        <div class="layer bottom">
            <div class="content-wrap" class="skewed d-none d-lg-block">
                <h2 class="section-title text-center">KEY PLATFORM FEATURES</h2>
                <br>
                <div class="content-body">
                    <br>
                    <div class="features-text">
                        <h4 class="section-subtitle">SMS INVITATIONS</h4>
                        <p class="section-text">SEND ALL YOUR GUESTS A STYLISH SMS INVITATION THAT HAS FUNCTIONALITY TO RSVP OR VIEW THE EVENT PAGE IN-APP</p>
                    </div>
                    <br>
                    <div class="features-text">
                        <h4 class="section-subtitle">EVENT CREATOR</h4>
                        <p class="section-text">CREATE FULLY CUSTOMIZABLE EVENTS, ISSUE TICKETS, AND INVITE GUESTS WITH INVITATIONS</p>
                    </div>
                    <br>
                    <div class="features-text">
                        <h4 class="section-subtitle">SMART NOTIFICATIONS</h4>
                        <p class="section-text">HOSTWEATHER, TRAFFIC, AND EVENT UPDATES<p>
                    </div>
                </div>
                <img src="./dist/img/iphone.webp" alt="Features" class="img-fluid">
            </div>
        </div>
        <div class="handle"></div>
    </div>
    <div class="d-block d-lg-none d-xl-none">
        <div class="container">
            <h2 class="section-title text-center">KEY PLATFORM FEATURES</h2>
            <br>
            <div class="row">
                <div class="col-md-8 order-2 order-md-1">
                    <div class="row mt-5">
                        <div class="col-md-10">
                            <div class="features-text">
                                <h4 class="section-subtitle">HOST DASHBOARD</h4>
                                <p class="section-text">HOSTS CAN CONTROL EVERY ASPECT OF THEIR EVENT WITH OUR ADVANCED EVENT DASHBOARD</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-10">
                            <div class="features-text">
                                <h4 class="section-subtitle">INTERACTIVE EVENT MAP</h4>
                                <p class="section-text">USE THE MAP TO DISCOVER NEARBY EVENTS THAT INTEREST YOU</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-10">
                            <div class="features-text">
                                <h4 class="section-subtitle">EASY CHECK-IN</h4>
                                <p class="section-text">ON-SITE GEOFENCE OR QR CODE CHECK IN</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-10 my-5 col-sm-8 mx-auto my-md-0 col-md-4 order-1 order-md-2">
                    <img src="./dist/img/iphone2.webp" alt="Features" class="img-fluid">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-10 my-5 col-sm-8 mx-auto my-md-0 col-md-4">
                    <img src="./dist/img/iphone.webp" alt="Features" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="mx-auto col-xs-10 col-md-10 mr-md-auto">
                            <div class="features-text">
                                <h4 class="section-subtitle">SMS INVITATIONS</h4>
                                <p class="section-text">SEND ALL YOUR GUESTS A SMS THAT HAS FUNCTIONALITY TO RSVP OR VIEW THE EVENT PROFILE IN-APP</p>
                            </div>
                        </div>
                        <div class="mx-auto col-xs-10 col-md-10 mr-md-auto">
                            <div class="features-text">
                                <h4 class="section-subtitle">EVENT CREATOR</h4>
                                <p class="section-text">CREATE ELEGANT EVENTS AND INVITE GUESTS WITH STYLE</p>
                            </div>
                        </div>
                        <div class="mx-auto col-xs-10 col-md-10 mr-md-auto">
                            <div class="features-text">
                                <h4 class="section-subtitle">SMART NOTIFICATIONS</h4>
                                <p class="section-text">WEATHER, TRAFFIC, AND EVENT UPDATES</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="FAQ">
    <div class="container">
        <div class="text-center my-5">
            <h2 class="section-title3">FREQUENTLY ASKED QUESTIONS</h2>
        </div>
        <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header" role="tab" id="question1" data-toggle="collapse" data-parent="#accordion" href="#question1" aria-expanded="false" aria-controls="question1content" data-target="#question1content">
                    <h5 class="my-2 section-subtitle">What is LoudWay? <i class="fa fa-plus-circle float-right" aria-hidden="true"></i></h5>
                </div>
                <div id="question1content" class="collapse in" role="tabpanel" aria-labelledby="question1">
                    <div class="card-body-faq">
                        <p class="section-text">LoudWay is a social event planning ecosystem that offers benefits to anyone looking for great experiences. LoudWay is the ultimate event related mobile application providing next level tools, features, and services for our consumers. Create, Discover, and Remember your Events with LoudWay.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="question2" data-toggle="collapse" data-parent="#accordion" href="#question2" aria-expanded="false" aria-controls="question2content" data-target="#question2content">
                    <h5 class="my-2 section-subtitle">Why is LoudWay an important tool for Event Organizers? <i class="fa fa-plus-circle float-right" aria-hidden="true"></i></h5>
                </div>
                <div id="question2content" class="collapse in" role="tabpanel" aria-labelledby="question2">
                    <div class="card-body-faq">
                        <p class="section-text">LoudWay allows organizers to elegantly manage the event hosting and invitation process for any size of event. Organizers can communicate with guests with whom they've invited, make updates, and make sure that everyone invited stays in the loop with the most up to date event information.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="question3" data-toggle="collapse" data-parent="#accordion" href="#question3" aria-expanded="false" aria-controls="question3content" data-target="#question3content">
                    <h5 class="my-2 section-subtitle">What can you do with LoudWay? <i class="fa fa-plus-circle float-right" aria-hidden="true"></i></h5>
                </div>
                <div id="question3content" class="collapse in" role="tabpanel" aria-labelledby="question3">
                    <div class="card-body-faq">
                        <p class="section-text">LoudWay has many features including tools to find, create, host, and promote events. You can also network with other users, and send messages to users directly on our platform!</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="question4" data-toggle="collapse" data-parent="#accordion" href="#question4" aria-expanded="false" aria-controls="question4content" data-target="#question4content">
                    <h5 class="my-2 section-subtitle">What type of events does LoudWay support? <i class="fa fa-plus-circle float-right" aria-hidden="true"></i></h5>
                </div>
                <div id="question4content" class="collapse in" role="tabpanel" aria-labelledby="question4">
                    <div class="card-body-faq">
                        <p class="section-text">LoudWay can support any type of event. From college parties to family events the options possible are endless.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="question5" data-toggle="collapse" data-parent="#accordion" href="#question5" aria-expanded="false" aria-controls="question5content" data-target="#question5content">
                    <h5 class="my-2 section-subtitle">Whats the current stage of LoudWay? <i class="fa fa-plus-circle float-right" aria-hidden="true"></i></h5>
                </div>
                <div id="question5content" class="collapse in" role="tabpanel" aria-labelledby="question5">
                    <div class="card-body-faq">
                        <p class="section-text">LoudWay has recently finished development and is being tested out in house to make sure that upon launch it will operate as intended and be capable of scaling to its expectations. Upon completion the beta launch will be initiated for the first ten thousand users who have requested the link beforehand. Those users will recieve an email and will be able to install the application onto their device for the duration of the beta testing period.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="question6" data-toggle="collapse" data-parent="#accordion" href="#question6" aria-expanded="false" aria-controls="question6content" data-target="#question6content">
                    <h5 class="my-2 section-subtitle">How will LoudWay change the event industry? <i class="fa fa-plus-circle float-right" aria-hidden="true"></i></h5>
                </div>
                <div id="question6content" class="collapse in" role="tabpanel" aria-labelledby="question6">
                    <div class="card-body-faq">
                        <p class="section-text">The event industry is in need of an application that can help do everything. Us being a social platform makes it more fun and easy to use. Now event organizers have an innovative platform to connect with their guests, plan everything about their events, manage promotional campaigns and even administer the ticketing. Guests now have a revolutionary platform to discover events, find things to do nearby, plan activities, and communicate with people they've connected with directly on the platform.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="question7" data-toggle="collapse" data-parent="#accordion" href="#question7" aria-expanded="false" aria-controls="question7content" data-target="#question7content">
                    <h5 class="my-2 section-subtitle">Why is LoudWay better than the rest? <i class="fa fa-plus-circle float-right" aria-hidden="true"></i></h5>
                </div>
                <div id="question7content" class="collapse in" role="tabpanel" aria-labelledby="question7">
                    <div class="card-body-faq">
                        <p class="section-text">Face it, the event industry does not have an application that can both connect people efficiently and can create events effectively. Our ecosystem was engineered to incorporate the newest emerging technolgies to help guests and hosts cut down on costs, making all the tools and resources available to every event planner. Our features are next level and have never been implemented in any event based application.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="question8" data-toggle="collapse" data-parent="#accordion" href="#question8" aria-expanded="false" aria-controls="question8content" data-target="#question8content">
                    <h5 class="my-2 section-subtitle">Who should use LoudWay? <i class="fa fa-plus-circle float-right" aria-hidden="true"></i></h5>
                </div>
                <div id="question8content" class="collapse in" role="tabpanel" aria-labelledby="question8">
                    <div class="card-body-faq">
                        <p class="section-text">LoudWay is perfect for anyone who is hosting or is interested in attending events or activites.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="question9" data-toggle="collapse" data-parent="#accordion" href="#question9" aria-expanded="false" aria-controls="question9content" data-target="#question9content">
                    <h5 class="my-2 section-subtitle">What does decentralizing the event ticketing industry mean? <i class="fa fa-plus-circle float-right" aria-hidden="true"></i></h5>
                </div>
                <div id="question9content" class="collapse in" role="tabpanel" aria-labelledby="question9">
                    <div class="card-body-faq">
                        <p class="section-text"> The event industry is a centralized industry that's plagued by ticketing fraud, payment fraud, expensive payment processing fees, ticketing equipment costs, event planning software, 3rd party intermediaries, expensive human services, and advertising costs. LoudWay is a peer to peer network since events create memories of people spending precious time together. With LoudWay, there is no intermediaries and there is no excessive fees for event related services. We are proud to be working on a smart ticketing system which will make payments, identity, and ownership verifiable on the blockchain elimating all methods of fraud completely and immediately. Upon completion and integration of these new components with our existing network, we will transcend to a decentralized infrastructure making payment processing transparent, scalable, and secure.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="question10" data-toggle="collapse" data-parent="#accordion" href="#question10" aria-expanded="false" aria-controls="question10content" data-target="#question10content">
                    <h5 class="my-2 section-subtitle">When will LoudWay launch? <i class="fa fa-plus-circle float-right" aria-hidden="true"></i></h5>
                </div>
                <div id="question10content" class="collapse in" role="tabpanel" aria-labelledby="question10">
                    <div class="card-body-faq">
                        <p class="section-text">LoudWay will be available this spring for everyone on Android and iOS.</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</section>

<section id="contact">
    <div class="container text-center">
        <h2 class="section-title2">STILL HAVE QUESTIONS?</h2>
        <br><a href="" class="btn btn-primary mt-3" data-toggle="modal" data-target="#contactModal">CONTACT SUPPORT</a>
    </div>
</section>

</div>