
    <section class="container-fluid jl_s_block pb-5 pt-5">
        <div class="text-center w-100"> Job Posting </div>
        <div class="text-center rtao"> <a href="./jobs.html" class="rtao"> <i class="fa fa-caret-square-o-left "></i> GO BACK</a></div>
    </section>
    <section class="container-fluid jl_t_block p-0">
        <div class="spoiler_item">
            <a href="#" class="spoiler">ABOUT LOUDWAY: </a>
            <div class="spoiler_text start_open">
                LoudWay is working to be the world’s largest ticketing and event technology platform, planned to power millions of live experiences around the globe. We build technology that allows anyone to create, share, find and attend events and Activities of all kinds. Music festivals, marathons, conferences, hackathons, political rallies, fundraisers, gaming competitions— you name it, we power it.
            </div>
        </div>
        <div class="spoiler_item">
            <a href="#" class="spoiler">ABOUT THE TEAM: </a>
            <div class="spoiler_text">
...

            </div>
        </div>
        <div class="spoiler_item">
            <a href="#" class="spoiler">THE CHALLENGE: </a>
            <div class="spoiler_text">
...

            </div>
        </div>
        <div class="spoiler_item">
            <a href="#" class="spoiler">ABOUT THIS INTERNSHIP: </a>
            <div class="spoiler_text">
...            </div>
        </div>
        <div class="spoiler_item">
            <a href="#" class="spoiler">TOOLS YOU'LL USE: </a>
            <div class="spoiler_text">
                <ul>
                    <li>...</li>
                    <li>...</li>
                </ul>
            </div>
        </div>
        <div class="spoiler_item">
            <a href="#" class="spoiler">THE SKILL SET: </a>
            <div class="spoiler_text">
                <ul>
                    <li>...</li>
                    <li>...</li>
                </ul>
                <h1 class="spoiler-left">Bonus Points:</h1>
                <ul>
                    <li>...</li>
                    <li>...</li>
                  
                </ul>
            </div>
        </div>
        <div class="spoiler_item">
            <a href="#" class="spoiler">IMPORTANT INFORMATION: </a>
            <div class="spoiler_text">
                LoudWay is a proud equal opportunity/affirmative action employer supporting workforce diversity. We do not discriminate based upon race, ethnicity, ancestry, citizenship status, religion, color, national origin, sex (including pregnancy, childbirth, or related medical conditions), marital status, registered domestic partner status, caregiver status, sexual orientation, gender, gender identity, gender expression, transgender status, sexual stereotypes, age, genetic information, military or veteran status, mental or physical disability, political affiliation, status as a victim of domestic violence, assault or stalking, or other applicable legally protected characteristics.
                <br>
                <br>
                FLSA Status: Non Exempt
                <br>
                <br>
                <u><a href="/doc.html" class="sm_a">Application Privacy Notice</a></u>
            </div>
        </div>
    </section>

    <br>

    <div>
        <a href="#" class="apply_job open_qs_tf">APPLY TO MAKE CHANGE</a>
    </div>

    <br>
