<div id="careerPage" ng-controller="jobPageCtrl">
    <section class="container-fluid co_s_block h-160">
        <div class="row h-100">
            <div class="text-center align-self-center w-100">CURRENT OPENINGS</div>
        </div>
    </section>

    <section class="container-fluid co_t_block p-0">
        <br>
        <div class="in_block">
            <div class="main_title red">COMMUNICATIONS DEPARTMENT</div>
            <div class="item">
                <a ng-href="#!csr-job">
                    <p>CUSTOMER SUCCESS REPRESENTATIVE</p>
                </a>
            </div>
            <div class="item">
                <a href="#!sar-job">
                    <p>SALES ACCOUNT REPRESENTATIVE</p>
                </a>
            </div>
            <div class="item">
                <a href="#!prr-job">
                    <p>PUBLIC RELATIONS REPRESENTATIVE</p>
                </a>
            </div>
            <div id="cdContent" class="collapse in" role="tabpanel" aria-labelledby="cdContent">
                <div class="item">
                    <a href="#!bdr-job">
                        <p>BUSINESS DEVELOPMENT REPRESENTATIVE</p>
                    </a>
                </div>
                <div class="item">
                    <a href="#!p-job">
                        <p>PARALEGAL</p>
                    </a>
                </div>
                <div class="item">
                    <a href="#!ppc-job">
                        <p>PRODUCT &amp; PRIVACY COUNSEL</p>
                    </a>
                </div>
                <div class="item">
                    <a href="#!iti-job">
                        <p>IT INTERN</p>
                    </a>
                </div>
            </div>
            <div role="tab" class="jobBtnContainer" data-toggle="collapse" data-parent="#accordion" href="#cdContent" aria-expanded="false" aria-controls="cdContent" data-target="#cdContent">
                <button ng-click="toggleArray[0] = !toggleArray[0]">show {{ toggleArray[0] ? 'more' : 'less'}} </button>
            </div>
        </div>
        <div class="in_block">
            <div class="main_title purple">OPERATIONS DEPARTMENT</div>
            <div class="item">
                <a href="#!ccc-job">
                    <p>COMMUNITY CONTENT CREATOR</p>
                </a>
            </div>
            <div class="item">
                <a href="#!uid-job">
                    <p>USER INTERFACE DESIGNER</p>
                </a>
            </div>
            <div class="item">
                <a href="#!uer-job">
                    <p>USER EXPERIENCE RESEARCHER</p>
                </a>
            </div>
            <div id="odContent" class="collapse in" role="tabpanel" aria-labelledby="odContent">
                <div class="item">
                    <a href="#!wdes-job">
                        <p>WEB DESIGNER</p>
                    </a>
                </div>
                <div class="item">
                    <a href="#!pd-job">
                        <p>PRODUCT DESIGNER</p>
                    </a>
                </div>
            </div>
            <div role="tab" class="jobBtnContainer" data-toggle="collapse" data-parent="#accordion" href="#odContent" aria-expanded="false" aria-controls="odContent" data-target="#odContent">
                <button ng-click="toggleArray[1] = !toggleArray[1]">show {{ toggleArray[1] ? 'more' : 'less'}} </button>
            </div>
        </div>
        <div class="in_block">
            <div class="main_title green">ENGINEERING DEPARTMENT</div>
            <div class="item">
                <a href="#!bse">
                    <p>BACKEND SOFTWARE ENGINEER</p>
                </a>
            </div>
            <div class="item">
                <a href="#!rnmd">
                    <p>REACT NATIVE MOBILE DEVELOPER</p>
                </a>
            </div>
            <div class="item">
                <a href="#!wdev">
                    <p>WEB DEVELOPER</p>
                </a>
            </div>
            <div id="edContent" class="collapse in" role="tabpanel" aria-labelledby="edContent">
                <div class="item">
                    <a href="#!fse-job">
                        <p>FRONTEND SOFTWARE ENGINEER</p>
                    </a>
                </div>
                <div class="item">
                    <a href="#!dse-job">
                        <p>DATA SCIENCE ENGINEER</p>
                    </a>
                </div>
                <div class="item">
                    <a href="#!rme-job">
                        <p>RISK MANAGEMENT ENGINEER</p>
                    </a>
                </div>
                <div class="item">
                    <a href="#!ie-job">
                        <p>INTEGRATIONS ENGINEER</p>
                    </a>
                </div>
                <div class="item">
                    <a href="#!de-job">
                        <p>DEVOPS ENGINEER</p>
                    </a>
                </div>
                <div class="item">
                    <a href="#!ssec-job">
                        <p>SECURITY SOFTWARE ENGINEER/CLOUD</p>
                    </a>
                </div>
                <div class="item">
                    <a href="#!tw-job">
                        <p>TECHNICAL WRITER</p>
                    </a>
                </div>
                <div class="item">
                    <a href="#!fie-job">
                        <p>FRONTEND INCUBATION ENGINEER</p>
                    </a>
                </div>
                <div class="item">
                    <a href="#!bie-job">
                        <p>BACKEND INCUBATION ENGINEER</p>
                    </a>
                </div>
                <div class="item">
                    <a href="#!rdd-job">
                        <p>R&amp;D DEVELOPER </p>
                    </a>
                </div>
            </div>
            <div role="tab" class="jobBtnContainer" data-toggle="collapse" data-parent="#accordion" href="#edContent" aria-expanded="false" aria-controls="edContent" data-target="#edContent">
                <button ng-click="toggleArray[2] = !toggleArray[2]">show {{ toggleArray[2] ? 'more' : 'less'}} </button>
            </div>
        </div>
        <div class="in_block">
            <div class="main_title green">MARKETING DEPARTMENT</div>
            <div class="item">
                <a href="#!smm-job">
                    <p>SOCIAL MEDIA MARKETER</p>
                </a>
            </div>
            <div class="item">
                <a href="#!cm-job">
                    <p>CONTENT MARKETER</p>
                </a>
            </div>
            <div class="item">
                <a href="#!ec-job">
                    <p>EVENT COORDINATOR</p>
                </a>
            </div>
            <div id="mdContent" class="collapse in" role="tabpanel" aria-labelledby="mdContent">
                <div class="item">
                    <a href="#!bd-job">
                        <p>BRAND DESIGNER</p>
                    </a>
                </div>
                <div class="item">
                    <a href="#!ec-job">
                        <p>MARKETING DATA INTERN</p>
                    </a>
                </div>
            </div>
            <div role="tab" class="jobBtnContainer" data-toggle="collapse" data-parent="#accordion" href="#mdContent" aria-expanded="false" aria-controls="mdContent" data-target="#mdContent">
                <button ng-click="toggleArray[3] = !toggleArray[3]">show {{ toggleArray[3] ? 'more' : 'less'}} </button>
            </div>
        </div>
        <br>
    </section>
    
</div>
