<div class="sarJobPage" ng-controller="csrJobController">
    <section class="container-fluid jl_s_block pb-5 pt-5">
            <div class="text-center w-100"> Public Relations Representative </div>
            <div class="text-center rtao"> <a  ng-href="#!jobs" class="rtao"> <i class="fa fa-caret-square-o-left "></i> GO BACK</a></div>
        </section>
        <section id="spoiler_list" class="container-fluid jl_t_block p-0">
            <div class="spoiler_item">
                <span class="spoiler" role="tab" data-toggle="collapse" data-target="#tab1content" data-parent="#spoiler_list">
                    ABOUT LOUDWAY:
                </span>
                <div id="tab1content" class="collapse in spoiler_text show">
                    LoudWay is working to be the world’s largest ticketing and event technology platform, planned to power millions of live experiences around the globe. We build technology that allows anyone to create, share, find and attend events and Activities of all kinds. Music festivals, marathons, conferences, hackathons, political rallies, fundraisers, gaming competitions— you name it, we power it.
                </div>
            </div>
            <div class="spoiler_item">
                <span class="spoiler" role="tab" data-toggle="collapse" data-target="#tab2content" data-parent="#spoiler_list">
                    ABOUT THE TEAM: 
                </span>
                <div id="tab2content" class="collapse in spoiler_text">
                    Our team of Account Executives are accomplished sales professionals that have high standards of performance, are eager to win and be part of a winning team. As a LoudWay Account Executive, you’ll be responsible for prospecting and acquiring new business by leveraging our unique value proposition, by evangelizing our end-to-end event management solution and by ensuring the broader market understands how we are shaking up the way event technology is done.
                </div>
            </div>
            <div class="spoiler_item">
                <span class="spoiler" role="tab" data-toggle="collapse" data-target="#tab3content" data-parent="#spoiler_list">
                    THE CHALLENGE: 
                </span>
                <div id="tab3content" class="collapse in spoiler_text">
                    We are building a best-in-class, enterprise sales organization comprised of motivated and high performing sellers. The opportunity is big, competition is fierce, and we have miles to go before we sleep. We're looking for experienced solution sellers to bring their creative problem solving skills, excellent communication and competitive drive to the team.
                    <br>
                    <br>
                    What makes Sales at LoudWay so exciting? We work with event creators that run everything from complex conferences to large scale food festivals. No one conversation is the same, there is no script nor one-size-fits-all solution to sell. We are consultative experts that have experience working with large organizations, multiple decision makers and multiple stakeholders.
    
                </div>
            </div>
            <div class="spoiler_item">
                <span class="spoiler" role="tab" data-toggle="collapse" data-target="#tab4content" data-parent="#spoiler_list">
                    ABOUT THIS INTERNSHIP: 
                </span>
                <div id="tab4content" class="collapse in spoiler_text">
                    We’re looking for someone with solution sales experience and is as self-sufficient as they are curious. A successful team player in this role will have the mindset of a small business owner, will be process-oriented, have meticulous pipeline management skills, are consistent top performers, expert communicators, detail-oriented and obsessed with staying on top of industry trends and changes in the competitive landscape. You know how to build your own pipeline and have a consistent track record of overachieving revenue goals.
                    <br>
                    <br>
                    If you are smart, experienced, driven and passionate about revolutionizing the event management industry, we want to hear from you.
                    <br>
                    <br>
                    <h1 class="spoiler-left">You Will:</h1>
                    <ul>
                        <li>Exceed monthly/quarterly/annual key performance metrics by selling LoudWay solutions into new accounts</li>
                        <li>Deliver a value-based solution sales process that positions LoudWay as a strategic event management partner to prospective organizations</li>
                        <li>Primarily engage clients on the phone or virtual meetings and may participate in face-to-face meetings based on need</li>
                        <li>Create, maintain, and develop a sales pipeline through a combination of cold and warm calling, email campaigns, and industry knowledge</li>
                        <li>Manage the end to end sales process through engagement of appropriate resources such as Account Management, Finance, Marketing, Legal, Executives, etc.</li>
                        <li>Develop expertise in the ticketing industry by identifying trends, market challenges, and competitive offerings in your vertical and territory</li>
                        <li>Update our CRM system with customer and pipeline data, conduct accurate deal forecasting and revenue delivery</li>
                        <li>Effectively work with peers in the sales organization, customers, and vendors to interpret information and improve sales processes</li>
                    </ul>
                </div>
            </div>
            <div class="spoiler_item">
                <span class="spoiler" role="tab" data-toggle="collapse" data-target="#tab5content" data-parent="#spoiler_list">
                    TOOLS YOU'LL USE: 
                </span>
                <div id="tab5content" class="collapse in spoiler_text">
                    <ul>
                        <li>SalesForce</li>
                        <li>Slack</li>
                        <li>Google Suite</li>
                        <li>CRM System</li>
                        <li>Invision</li>
                    </ul>
                </div>
            </div>
            <div class="spoiler_item">
                <span class="spoiler" role="tab" data-toggle="collapse" data-target="#tab6content" data-parent="#spoiler_list">
                    THE SKILL SET: 
                </span>
                <div id="tab6content" class="collapse in spoiler_text">
                    <ul>
                        <li>Experience in an acquisition sales role, with a record of revenue quota over-achievement, preferably in a SaaS environment</li>
                        <li>Proven ability to self-source majority of pipeline</li>
                        <li>Excellent written and verbal communication skills</li>
                        <li>Able to manage yourself to key sales metrics such as win rate, forecasting accuracy, quota attainment, pipeline creation, lead generation, etc.</li>
                        <li>Proven ability to execute on consultative sales methodology. </li>
                        <li>Firm understanding of how to identify target customers, evaluate buyer interest, recognize decision-making processes, handle objections and close the business</li>
                    </ul>
                    <h1 class="spoiler-left">Bonus Points:</h1>
                    <ul>
                        <li>Experience with successfully negotiating complex contracts</li>
                        <li>High win rate against self-sourced opportunities</li>
                    </ul>
                </div>
            </div>
            <div class="spoiler_item">
                <span class="spoiler" role="tab" data-toggle="collapse" data-target="#tab7content" data-parent="#spoiler_list">
                    IMPORTANT INFORMATION: 
                </span>
                <div id="tab7content" class="collapse in spoiler_text">
                    LoudWay is a proud equal opportunity/affirmative action employer supporting workforce diversity. We do not discriminate based upon race, ethnicity, ancestry, citizenship status, religion, color, national origin, sex (including pregnancy, childbirth, or related medical conditions), marital status, registered domestic partner status, caregiver status, sexual orientation, gender, gender identity, gender expression, transgender status, sexual stereotypes, age, genetic information, military or veteran status, mental or physical disability, political affiliation, status as a victim of domestic violence, assault or stalking, or other applicable legally protected characteristics.
                    <br>
                    <br>
                    FLSA Status: Non Exempt
                    <br>
                    <br>
                    <u><a href="#!doc" class="sm_a">Application Privacy Notice</a></u>
                </div>
            </div>
        </section>
    
        <br>
    
        <div class="mar-b-50">
            <a href="javascript: void()" class="apply_job open_qs_tf">APPLY TO MAKE CHANGE</a>
        </div>

</div>    
