
.h-160{
    height: 160px;
}

.jobBtnContainer{
    padding-top: 30px;
    text-align: center;
    button{
        color: white;
        border: 0px;
        background: #212121;
        padding: 5px 30px;
        cursor: pointer;
    }
}
.text-white{
    color: white;
}

#navbar{
    .navbar-brand{
        a{
            cursor: pointer;
            &:hover{
                text-decoration: none;
                color: white;
            }
        }
    } 
} 

#careerPage{
    .main_title, .item p{
        font-weight: 300;
    } 
}


#docsPage{
    .main_title, .item p{
        font-weight: 300;
    }
}

#helpPage{
    overflow-x: hidden;
    .advice-heading{
        font-weight: 300;
        padding-bottom: 15px;
    }
    #hc{
        .pad-lr-60{
            padding-left: 60px;
            padding-right: 60px;
        }
        .pad-lr-80{
            padding-left: 80px;
            padding-right: 80px;
        }
        h3{
            a{
                font-weight: 300;
            }
        }
    }
    .hc_fo_block .help_item{
        width: 100%;
    }
    a.more-less{
        color: #000000;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
}

#csrJobPage {

}

.mar-b-50{
    margin-bottom: 50px;
}


#comingSoonPage{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    .splash-container{
        margin-top: 150px;
        h1{
            color: white;
        }
        p{
            opacity: 1;
        }
        input[type="email"]{
            background: white;
        }
        input[type="submit"]{
            background: #222;
        }
        .splash-footer {
            p{
                font-weight: 300;
            }
        }

    }
}

.section-title {
    color: #FFF;
    font-size: 60px;
    font-family: 'Righteous', cursive;
    text-align: center;
}

@media (max-width: 991px) {
    .section-title {
        font-size: 4rem;
        color: #FFF;
        line-height: 1.5;
        padding-top: 50px;
    }
}

@media (max-width: 768px) {
    .section-title {
        font-size: 3rem;
        color: #FFF;
        line-height: 1.5;
        padding-top: 50px;
    }
}

@media (max-width: 599px) {
    .section-title {
        font-size: 3rem;
        color: #FFF;
        letter-spacing: 2px;
        line-height: 1.5;
        padding-top: 50px;
    }
}

@media (max-width: 414px) {
    .section-title {
        font-size: 3rem;
        color: #FFF;
        letter-spacing: 2px;
        line-height: 1.5;
        padding-top: 50px;
    }
}

.section-title2 {
    color: #FFF;
    font-size: 60px;
    font-family: 'Righteous', cursive;
    text-align: center;
}


.section-title6 {
    color: #1e90ff;
    font-size: 60px;
    font-family: 'Righteous', cursive;
    text-align: center;
}

@media (max-width: 600px) {
    .section-title2 {
        font-size: 3rem;
        color: #FFF;
        letter-spacing: 2px;
        line-height: 1.5;
    }
}

@media (max-width: 414px) {
    .section-title2 {
        font-size: 2.5rem;
        color: #FFF;
        letter-spacing: 2px;
        line-height: 1.5;
    }
}

@media (max-width: 375px) {
    .section-title2 {
        font-size: 2rem;
        color: #FFF;
        letter-spacing: 2px;
        line-height: 1.5;
    }
}

.section-title3 {
    color: #fff;
    font-size: 60px;
    font-family: 'Righteous', cursive;
    text-align: center;
}

@media (max-width: 600px) {
    .section-title3 {
        font-size: 3rem;
        color: #FFF;
        letter-spacing: 2px;
        line-height: 1.5;
    }
}

@media (max-width: 414px) {
    .section-title3 {
        font-size: 2.5rem;
        color: #FFF;
        letter-spacing: 2px;
        line-height: 1.5;
    }
}

@media (max-width: 375px) {
    .section-title3 {
        font-size: 2rem;
        color: #FFF;
        letter-spacing: 4px;
        line-height: 1.5;
    }
}

.section-subtitle {
    font-size: 23px;
}

@media (max-width: 991px) {
    .section-subtitle {
        font-size: 24px;
        letter-spacing: 2px;
        padding-bottom: 10px;
        text-align: center;
        color: #000
    }
}

@media (max-width: 600px) {
    .section-subtitle {
        font-size: 24px;
        letter-spacing: 2px;
        padding-bottom: 20px;
        text-align: center;
        color: #FFF
    }
}

@media (max-width: 414px) {
    .section-subtitle {
        font-size: 24px;
        letter-spacing: 2px;
        padding-bottom: 20px;
        text-align: center;
        color: #FFF
    }
}

.section-text {
    font-size: 18px;
}

@media (max-width: 800px) {
    .section-text {
        font-size: 18px;
        letter-spacing: 1.5px;
        line-height: 20px;
        color: #fff;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .section-text {
        font-size: 18px;
        letter-spacing: 2px;
        line-height: 30px;
        color: #fff;
        text-align: center;
    }
}

@media (max-width: 414px) {
    .section-text {
        font-size: 14px;
        letter-spacing: 2px;
        line-height: 30px;
        color: #fff;
        text-align: center;
    }
}

@media (max-width: 1180px) {
    #features .section-text {
        font-size: 14px;
        color: #fff;
        text-align: center;
    }

    #features .section-subtitle {
        font-size: 20px;
        color: #fff;
        text-align: center;
    }

    #features .section-title {
        font-size: 3rem;
        color: #fff;
        text-align: center;
    }
}

@media (max-width: 1024px) {
    #features .section-text {
        font-size: 14px;
        color: #fff;
        text-align: center;
    }

    #features .section-subtitle {
        font-size: 20px;
        color: #fff;
        text-align: center;
    }

    #features .section-title {
        font-size: 3rem;
        color: #fff;
        text-align: center;
    }
}

@media (max-width: 768px) {
    #features .section-text {
        font-size: 12px;
        color: #fff;
        text-align: center;
    }

    #features .section-subtitle {
        font-size: 20px;
        color: #fff;
        text-align: center;
    }

    #features .section-title {
        font-size: 3rem;
        color: #fff;
        text-align: center;
    }
}

#FAQ .section-text {
    font-size: 18px;
    color: #000;
    margin-right: 3rem;
    margin-left: 3rem;
}

@media (max-width: 800px) {
    .section-text {
        font-size: 18px;
        letter-spacing: 1.5px;
        line-height: 20px;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .section-text {
        font-size: 18px;
        letter-spacing: 2px;
        line-height: 30px;
        text-align: center;
    }
}

@media (max-width: 414px) {
    .section-text {
        font-size: 14px;
        letter-spacing: 2px;
        line-height: 30px;
        text-align: center;
    }
}

@media (max-width: 1023px) {
    #FAQ .section-subtitle h4 {
        font-size: 16px;
        letter-spacing: 1px;
        padding-bottom: 10px;
        font-weight: 700;
        text-align: left;
        color: #000
    }

    #FAQ .section-text {
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 20px;
        text-align: center;
        margin-right: 3rem;
        margin-left: 3rem;
    }
}

@media (max-width: 800px) {
    #FAQ .section-subtitle {
        font-size: 18px;
        letter-spacing: 1px;
        padding-bottom: 10px;
        font-weight: 700;
        text-align: left;
        color: #000
    }

    #FAQ .section-text {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 20px;
        text-align: center;
        margin-right: 3rem;
        margin-left: 3rem;
    }
}

@media (max-width: 600px) {
    #FAQ .section-subtitle {
        font-size: 16px;
        letter-spacing: 1px;
        padding-bottom: 10px;
        font-weight: 700;
        text-align: left;
        color: #000
    }

    #FAQ .section-text {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 20px;
        text-align: center;
        margin-right: 3rem;
        margin-left: 3rem;
    }
}

@media (max-width: 414px) {
    #FAQ .section-subtitle {
        font-size: 16px;
        letter-spacing: 1px;
        padding-bottom: 10px;
        text-align: left;
        font-weight: 500;
        color: #000
    }

    #FAQ .section-text {
        font-size: 10px;
        letter-spacing: 1px;
        line-height: 20px;
        text-align: center;
        margin: .5rem;
    }
}

.social-icon {
    border: 1px solid #1E90FF;
    width: 30px;
    height: 30px;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    color: #FFF;
    margin: 0 2px;
}

.social-icon:hover {
    background: #1E90FF;
    border-color: #1E90FF;
    color: #FFF
}

.social-icon img {
    height: 18px;
    width: auto;
}

#wrapper {
    position: relative;
    width: 100%;
    min-height: 55vw;
    overflow: hidden;
}

.layer {
    position: absolute;
    width: 100vw;
    min-height: 55vw;
    overflow: hidden;
}

.layer .content-wrap {
    position: absolute;
    width: 100vw;
    min-height: 55vw;
}

.layer .content-wrap .section-title {
    margin-top: 25px;
}

.layer .content-body {
    width: 30%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.layer .content-body i {
    float: left;
    font-size: 25px;
}

.layer .content-body .features-text {
    margin-left: 35px;
}

.layer img {
    position: absolute;
    width: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 25px;
}

.layer h1 {
    font-size: 2em;
}

.bottom {
    background: #1E90FF;
    z-index: 1;
    color: #FFF;
}

.bottom .content-body {
    right: 5%;
}

.bottom .content-body .features-text h4 {
    color: #FFF;
    font-size: 2rem;
    line-height: 1.5;
}

.bottom .content-body i {
    color: #00b0df;
}

.bottom .section-title {
    color: #FFF;
    font-size: 4rem;
}

.bottom .section-subtitle {
    text-align: center;
}

.bottom .section-text {
    color: #FFF;
    text-align: center;
    line-height: 2;
    font-weight: 900;
    font-size: 1rem;
}

.top {
    background: #1E90FF;
    color: #FFF;
    z-index: 2;
    width: 50vw;
}

.top .content-body {
    left: 3%;
    color: #FFF;
}

.top .content-body .features-text h4 {
    color: #FFF;
    font-size: 2rem;
    line-height: 1.5;
}

.top .section-title {
    color: #FFF;
    font-size: 4rem;
}

.top .section-subtitle {
    text-align: center;
}

.top .section-text {
    text-align: center;
    line-height: 2;
    font-size: 1rem;
    color: #fff;
    font-weight: 900;
}

* {
    outline: none !important;
}

li {
    text-align: left;
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
}

body {
    background: #FFF;
    font-family: 'Righteous', cursive;
    font-size: 16px;
}

.f_wrap {
    min-height: 70%;
}

/* -----------------------------------
        Additions  ----------------------------
       ------------------------------------- */
@media (min-width: 320px) {
    .cursor {
        font-family: 'Righteous', cursive;
        animation: blink 0.7s infinite;
        font-size: 12px;
        max-width: 380px;
    }
}

@media (min-width: 576px) {
    .cursor {
        font-family: 'Righteous', cursive;
        animation: blink 0.7s infinite;
        font-size: 14px;
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .cursor {
        font-family: 'Righteous', cursive;
        animation: blink 0.7s infinite;
        font-size: 16px;
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .cursor {
        font-family: 'Righteous', cursive;
        animation: blink 0.7s infinite;
        font-size: 18px;
        max-width: 960px;
    }
    

}

@media (min-width: 1200px) {
    .cursor {
        font-family: 'Righteous', cursive;
        animation: blink 0.7s infinite;
        font-size: 20px;
        max-width: 1140px;
    }
}

@media (min-width: 1200px) {
    .splash-container {
        position: relative;
        width: 100%;
        margin: 0px auto;
        text-align: center;
        color: #000000;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 992px) {
    .splash-container {
        position: relative;
        width: 100%;
        margin: 0px auto;
        text-align: center;
        color: #000000;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 768px) {
    .splash-container {
        position: relative;
        width: 100%;
        margin: 0px auto;
        text-align: center;
        color: #000000;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 576px) {
    .splash-container {
        position: relative;
        width: 100%;
        margin: 0px auto;
        text-align: center;
        color: #000000;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.splash-container {
    position: relative;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    color: #000000;
    padding-left: 15px;
    padding-right: 15px;
}

.splash-container a img {
    width: auto;
    margin-bottom: 40px;
}

.splash-container h1 {
    font-size: 44px;
    font-weight: 700;
    margin: 0px 0px 20px;
}

.splash-container p {
    font-size: 18px;
    margin: 0px 0px 35px;
    opacity: 0.55;
}

.splash-container .form-input-holder {
    width: 100%;
    max-width: 430px;
    margin: 0px auto 50px;
    position: relative;
}

.splash-container .form-input-holder input[type=email] {
    width: 100%;
    height: 51px;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    padding: 0px 128px 0px 15px;
    font-size: 16px;
    font-weight: 300;
}

.splash-container .form-input-holder input[type=submit] {
    width: 115px;
    height: 43px;
    position: absolute;
    top: 4px;
    right: 4px;
    color: #FFFFFF;
    background-color: #2AA6E3;
    font-size: 16px;
    font-weight: 600;
    border: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.splash-container .form-input-holder input[type=submit]:hover {
    opacity: 0.7;
}

.splash-container ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-align: center;
    width: 100%;
}

.splash-container ul li {
    display: inline-block;
    margin: 0px 15px;
    padding: 0px;
}

.splash-container ul li a {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.splash-container ul li a:hover {
    opacity: 0.7;
}

/* Typed JS */
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#typed-cursor {
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

/* Typed JS Font */
span.text-change {
    font-family: 'Righteous', cursive;
    font-size: 70px;
    font-weight: 900;
    text-align: center;
    padding-bottom: 100px;
}

/* Media Queries */
@media (max-width: 1025px) {
    span.text-change {
        font-family: 'Righteous', cursive;
        font-size: 3rem;
        font-weight: 900;
    }
}

@media (max-width: 414px) {
    span.text-change {
        font-family: 'Righteous', cursive;
        font-size: 3rem;
        font-weight: 900;
    }
}

@media (max-width: 375px) {
    span.text-change {
        font-family: 'Righteous', cursive;
        font-size: 2.5rem;
        font-weight: 900;
    }
}

#contact {
    padding: unset;
    background: #1E90FF;
    height: 500px;
    position: relative;
    border-color: #000;
    border: 10px solid #000;
    border-left: none;
    border-right: none;
    border-top: none;
}

@media (max-width: 480px){
    #contact {
        .section-title3{
            font-size: 1.5rem;
        }
    }
    .btn:not(:disabled):not(.disabled){
        font-size: 1.15rem;
    }
}

#company1 {
    padding: unset;
    background: #fff;
    height: 500px;
    position: relative;
    border-color: #000;
    border: 10px solid #000;
    border-left: none;
    border-right: none;
    border-top: none;
}

#quote {
    padding: unset;
    background: #FFF;
    height: 500px;
    position: relative;
    border-color: #000;
    border: 10px solid #000;
    border-left: none;
    border-right: none;
    border-top: none;
}

#contact .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 414px) {
    #contact {
        height: 400px;
    }
    
    #company1 {
        height: 400px;
    }
}

/* -----------------------------------
        HEADER  ----------------------------
       ------------------------------------- */
header .nav {
    text-transform: capitalize;
    font-weight: 500;
}

.logo {
    font-family: 'Righteous', cursive;
}

.navbar .logo {
    font-size: 30px;
}

.navbar .navbar-nav .dropdown .language-flag {
    width: 20px;
    margin-right: 10px;
    margin-top: -3px;
}

.nav-item.line_b {
    font-size: 23px;
    color: #7c7c7d;
}

/* ------------------------------------- */
/* FOOTER_BLOCK ........................ */
/* ------------------------------------- */
footer .logo {
    font-size: 50px;
    color: white;
}

@media (max-width: 414px) {
    footer .copyright {
        font-size: 13px;
    }
}

.btn-primary {
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    line-height: 1.5;
    transition: all .15s ease-in-out;
    background-color: #222;
    border-color: #222;
    border: 1.5px solid transparent;
    border-radius: .5rem;
}

.btn-primary:hover {
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    line-height: 1.5;
    transition: all .15s ease-in-out;
    background-color: #222;
    border-color: #222;
    border: 1.5px solid transparent;
    border-radius: .5rem;
}

.h1,
h1 {
    font-size: 4.5rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 900;
    line-height: 1.1;
    color: inherit;
}

#top-btn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    border-radius: 5px;
    display: none;
}

#top-btn:hover {
    background: rgba(0, 0, 0, 0.7);
}

#top-btn a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#top-btn a i {
    padding: 15px;
}

#features {
    background: #1E90FF;
    width: 100%;
}

#features i {
    float: left;
    font-size: 35px;
}

#features .features-text {
    margin-left: 50px;
}

#features .badge-container {
    margin-top: 25px;
}

#features .badge-container img {
    all: unset;
    height: 50px;
}

#features .badge-container svg {
    height: 50px;
}

#FAQ {
    padding: 50px;
    background: #e9ecef;
}

#FAQ .FAQ-subtitle {
    font-size: 3rem;
    color: #00b0df;
}

#FAQ #accordion .card {
    border: none
}

#FAQ #accordion .card .card-header {
    cursor: pointer;
    background: transparent;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border-radius: unset;
}

#FAQ #accordion .card .card-header h5 i {
    font-size: 23px;
}

#FAQ #accordion .card .card-header[aria-expanded="true"] i {
    transform: rotate(135deg);
    transition: 0.7s;
}

#FAQ #accordion .card .card-header[aria-expanded="false"] i {
    transition: 0.7s;
    color: #1E90FF;
}

#FAQ .section-text {
    text-align: center;
    line-height: 2;
}

#contactModal .modal-body {
    border: 5px solid #1E90FF;
}

#contactModal .mb-4 .my-4 {
    line-height: none;
}


#contactModal .modal-dialog .modal-content .modal-body #form-submit {
    font-size: 1.3rem;
    padding: 0.7rem;
    border-radius: 0.25rem;
}

@media (max-width: 991px) {
    .navbar .navbar-nav .dropdown-menu {
        position: absolute;
        right: -18px;
        top: 50px;
        background: #f8f9fa;
        padding: unset;
        margin: unset;
        border: unset;
        min-width: unset;
        left: unset;
        border-radius: unset;
    }
}

@media (max-width: 575px) {
    #features i {
        display: block;
        text-align: center;
        width: 100%;
        margin-bottom: 15px;
    }
}

@media (max-width: 414px) {
    #contactModal .modal-dialog {
        margin: 0;
    }

    #contactModal .modal-dialog .modal-content {
        height: 100%;
    }

    #contactModal .modal-dialog .modal-content .modal-body {
        height: 100%;
    }
}

#footer {
    background: #222;
    border-bottom: 10px solid #000;
    border-top: none;
    border-left: none;
    border-right: none;
}

#footer p {
    color: white;
}

#hero {
    background: #1E90FF;
    border-color: #000;
    border-top: 10px solid #1E90FF;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

#hero2 {
    background: #1E90FF;
    /* border: 10px solid #000; */
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: unset;
    position: relative;
    height: 250px;
}

#hero h1 {
    color: white;
    text-align: center;
}


.mt-5,
.my-5 {
    margin-top: 0rem !important;
}

.mb-4,
.my-4 {
    margin-top: 1.5rem !important;
    line-height: 3;
}

.mb-6,
.my-6 {
    margin-top: 1.5rem !important;
    line-height: 1;
}

#FAQ {
    background: #222;
    text-align: center;
    border-color: #000;
    border: 10px solid #000;
    border-top: none;
    border-left: none;
    border-right: none;
}

#cards {
    background: #222;
    text-align: center;
    color: #1E90FF;
}

.bg-light {
    background-color: #222 !important;
}

#navbar {
    border-top: 10px solid #000;
}

#navbar a {
    color: white;
}

#navbar a:hover {
    color: #1E90FF;
}

h1.navbar-brand.logo {
    color: white;
}


h1.spoiler-left {
    font-size: 24px;
    text-align: left
}

h1.navbar-brand.logo:hover {
    color: white;
}

@media (max-width: 991px) {

    #navbar a {
        color: #1E90FF;
        text-align: center;
    }

    #navbar a:hover {
        color: #1E90FF;
    }

    h1.navbar-brand.logo {
        color: #1E90FF;
    }

    h1.navbar-brand.logo:hover {
        color: #1E90FF;
    }
}

.typing-animation {
    text-align: center;
    color: white;
}

div .content-wrap {
    border-color: #000;
    border: 10px solid #000;
    border-left: none;
    border-right: none;
}

#cards {
    border-color: #000;
    border: 10px solid #000;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

@media (max-width: 414px) {
    #features div .col-md-10 {
        padding-right: 45px;
        padding-left: 5px;
        padding-bottom: 40px;
    }
}

@media (min-width: 599px) {
    #features div .col-md-10 {
        padding-right: 60px;
        padding-left: 20px;
        padding-bottom: 40px;
    }
}



.card-body-faq {
    background-color: #FFF;
}

@media (min-width: 1381px) {
    .d-lg-none {
        display: none !important;
    }
}

@media(max-width: 991px) {
    #features {
        padding: 50px 25px;
    }
}

    @media(max-width: 599px) {
        #FAQ #accordion .card .card-header[aria-expanded="true"] i {
            transform: rotate(135deg);
            transition: 0.7s;
            margin-top: 1rem;
        }

        #FAQ #accordion .card .card-header[aria-expanded="false"] i {
            transition: 0.7s;
            color: #1E90FF;
            margin-top: 1rem;
        }
    }

    .card-body1 {
      background-color: #303030;  
    }



.spoiler-left {
    text-align: left;
}

h3 .card-text2 {
    font-size: 16px;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
  
  .navbar-toggler:hover, .navbar-toggler:focus {
    text-decoration: none;
  }
  
  .navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
  }
  
  @media (min-width: 576px) {
      .navbar-expand-sm .navbar-toggler {
      display: none;
    }
  }
  
  @media (min-width: 768.98px) {
      .navbar-expand-md .navbar-toggler {
      display: none;
    }
  }
  
  @media (min-width: 992px) {
      .navbar-expand-lg .navbar-toggler {
      display: none;
    }
  }
  
  @media (min-width: 1200px) {
      .navbar-expand-xl .navbar-toggler {
      display: none;
    }
  }
  
  .navbar-expand .navbar-toggler {
    display: none;
  }
  
  .navbar-light .navbar-toggler {
    color: rgba(30, 144, 255, 1);
    border-color: rgba(30, 144, 255, .5);
  }
  
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(30, 144, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
 /* csstyle.css content */
  
  /* HERO
  ----------------------*/
  
  .img-holder {
      height: 0;
      overflow: hidden;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }
  
  @media (min-width: 1025px) {
      .img-holder {
          padding-bottom: 30%;
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 30%;
      }
  }
  
  @media (max-width: 1024px) {
      .img-holder {
          padding-bottom: 60%;
      }
  }
  
  @media (max-width: 599px) {
      .img-holder {
          padding-bottom: 75%;
      }
  }
  
  @media (max-width: 414px) {
      .img-holder {
          padding-bottom: 50%;
      }
  }
  
  /* FEATURES
  ----------------------*/
  
  .card.features {
      border: 0;
      border-radius: 3px;
      box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
      transition: all 0.3s ease-in-out;
  }
  
  @media (max-width:991px) {
      .card.features {
          margin-bottom: 2rem;
      }
      [class^="col-"]:last-child .card.features {
          margin-bottom: 0;
      }
  }
  
  .card.features:before {
      content: "";
      position: absolute;
      width: 3px;
      color: #fc73b4;
      top: 0;
      bottom: 0;
      left: 0;
  }
  
  .card-title {
      font-size: 3rem;
      margin-bottom: 0rem;
  }
  
  @media (min-width: 1025px) {
      .card-title {
          font-size: 3rem;
      }
  }
  
  @media (max-width: 1024px) {
      .card-title {
          font-size: 3rem;
      }
  }
  
  @media (max-width: 599px) {
      .card-title {
          font-size: 2rem;
      }
  }
  
  .card.features:hover {
      transform: translateY(-6px);
  }
  
  .btn-light img {
      margin-right: 0.4rem;
      vertical-align: text-bottom;
  }
  
  .btn-light:hover {
      color: white;
      background-color: #1E90FF;
      border-color: #1E90FF;
  }
  
  #cards h4 {
      size: 4rem;
      color: #FFF;
  }
  
  @media (min-width: 1025px) {
      #cards h4 {
          size: 3rem;
      }
  }
  
  @media (max-width: 1024px) {
      #cards h4 {
          size: 2.5rem;
      }
  }
  
  @media (max-width: 599px) {
      #cards h4 {
          size: 2rem;
      }
  }
  
  @media (min-width: 320px) and (max-width: 414px) {
      h4 .card-title {
          size: 2.5rem;
      }
  }
  
  
/* Vstyle.css */

.f_wrap {
    min-height: 70%;
}

.s_block {
    background: url(../img/bg_s.jpg) no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    position: relative;
    color: #fff;
}

.s_block .middle_text {
    position: absolute;
    top: 45%;
    width: 100%;
    font-size: 80px;
    height: 110px;
    text-align: center;
    margin-top: -55px;
    text-shadow: 0 0 9px #000000;
}

@media (max-width: 991px) {
    .s_block .middle_text {
        font-size: 40px;
        height: 56px;
        margin-top: -28px;
    }
}

.t_block {
    display: inline-block;
    min-height: 720px;
}

.t_block .text_block {
    text-align: center;
}

.t_block h1,
.t_block h2 {
    margin-bottom: 50px;
}

.av_download a {
    transition: 0.5s;
}

.av_download a:hover {
    opacity: 0.8;
}

.t_block .iphone-owl {
    background: url(../img/iphone.png) no-repeat;
    background-size: contain;
    background-position: 50%;
    position: relative;
    padding: 109px 50px 113px 47px;
    width: 370px;
    margin: 0 auto;
}

.t_block .iphone-owl img {
    width: 273px;
    height: 481px;
}

@media (max-width: 991px) {
    .t_block {
        min-height: 100% !important;
        height: auto !important;
    }

    .t_block .text_block {
        height: auto !important;
    }
}

@media (max-width:410px) {

    .t_block .av_download a img {
        width: 100%
    }


    .t_block .iphone-owl {
        background: url(../img/iphone.png) no-repeat;
        background-size: contain;
        background-position: 50%;
        position: relative;
        padding: 116px 41px 118px 38px;
        width: 300px;
        margin: 0 auto;
    }

    .t_block .iphone-owl img {
        width: 221px;
        height: 390px;
    }
}

@media (max-width:340px) {

    .iphone_block {
        margin: 0 15px 0 0;

    }
}

.fo_block {
    background: #06131b;
    color: #fff;
}

.fo_block .title {
    font-size: 40px;
}

.fo_block .title span {
    font-size: 50px;
}

.fo_block .title i {
    font-size: 45px;
    color: #ff3939;
    text-shadow: 0 0 4px red;
}

.fo_block .subtitle {
    font-size: 20px;
    padding-bottom: 15px;
}

.fo_block .subscribe_form .material-input.input {
    background: #06131b;
    width: 255px;
}

.fo_block .subscribe_form .material-input.input input {
    color: #fff;
}

.subscribe_form button {
    background: #ff3939;
    /* box-shadow: 0 0 10px #ff3939; */
    border: 0;
    height: 40px;
    padding: 0 20px 0 20px;
    margin: 11px 0 0 10px;
    border-radius: 3px;
    color: #fff;
    transition: 0.2s;
    cursor: pointer;
}

.subscribe_form button:hover {
    box-shadow: 0 0 10px #ff3939;
}

@media (max-width: 991px) {

    .fo_block .subscribe_form .material-input.input {
        background: #06131b;
        width: 60%;
    }
}

.fi_block {
    background: #2d3752;
    color: #fff;
    border-top: 20px solid #45c2c6;
    border-bottom: 20px solid #45c2c6;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: -16px 0 0 0;
}

.fi_block .title {
    font-size: 20px;
}

.fi_block .title i {
    font-size: 35px;
}

.fi_block .subtitle {
    font-size: 15px;
    padding-bottom: 15px;
}

.features_item {
    transition: 0.5s;
}

.features_item:hover {
    margin-top: -10px;
}

.co_t_block {
    background: #FFF;
}

.co_s_block {
    background: #1e90ff;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    text-shadow: 0 0 14px #5f5f5f;
    text-transform: uppercase;
}

.co_t_block .in_block .main_title.red {
    border: 2px solid #1e90ff;
}

.co_t_block .in_block .main_title.orange {
    border: 2px solid #1e90ff;
}

.co_t_block .in_block .main_title.green {
    border: 2px solid #1e90ff;
}

.co_t_block .in_block .main_title.blue {
    border: 2px solid #1e90ff;
}

.co_t_block .in_block .main_title.purple {
    border: 2px solid #1e90ff;
}

.co_t_block .in_block .main_title {
    width: 50%;
    min-width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    padding: 40px 0 40px 0;
    color: #000;
    font-size: 25px;
}

.co_t_block .in_block .item {
    width: 35%;
    min-width: 250px;
    margin: 0 auto;
    text-align: center;
    margin-top: 25px;
    border: 2px solid #1e90ff;
    padding: 15px 0 15px 0;
    background: #FFF;
}

.co_t_block .in_block .item:hover {
    border: 2px solid #1e90ff;
    background: #1e90ff;
}

.co_t_block .in_block .item a {
    color: #000;
    font-weight: 600;
    text-decoration: none;
}

.co_t_block .in_block .item a p {
    margin: 0;
}

.jl_s_block {
    background: #1e90ff;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.jl_s_block .s_t_w {
    font-size: 25px;
}

.jl_s_block .rtao {
    color: #FFF;
    text-decoration: none;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 100px;
    font-size: 15px;
}

.jl_s_block .rtao i {
    font-size: 20px;
    margin-right: 3px;
}

.jl_s_block .rtao:hover {
    opacity: 0.7;
}
.jl_t_block .spoiler {
    cursor: pointer;
}
.jl_t_block .spoiler_text {
    /* display: none; */
    color: #000;
    width: 70%;
    margin: 0 auto;
}

.jl_t_block .spoiler_text.start_open {
    display: block;
}

.jl_t_block .spoiler_item {
    text-align: center;
}

.jl_t_block .spoiler_item .spoiler {
    width: 80%;
    display: block;
    margin: 0 auto;
    min-width: 300px;
    padding: 18px 0 20px 30px;
    margin-top: 20px;
    margin-bottom: 15px;
    background: #222;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-align: left;
}

.jl_t_block .spoiler_item .spoiler:hover {
    opacity: 0.9;
}

.apply_job {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding: 20px 0 20px 0;
    background-color: #1e90ff;
    color: #fff;
    border-bottom: 5px solid #FFF;
    border-radius: 20px 20px 20px 20px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.apply_job:hover {
    opacity: 0.9;
    color: #fff;
    text-decoration: none;
}

.hc_s_block {
    background: #1e90ff;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.hc_s_block .material .material-input {
    background: #1e90ff;
}

.hc_s_block .material .material-input label {
    color: #fff;
}

.hc_s_block .material .material-bar:after,
.hc_s_block .material .material-bar:before {
    background: #FFF;
}

.hc_s_block form.material.search_form {
    position: relative;
}

.hc_s_block .material .material-input input {
    color: #fff;
}

.hc_s_block form.material.search_form button {
    position: absolute;
    width: 50px;
    padding: 20px 0 0 0;
    left: -50px;
    background: none;
    border: 0;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.hc_fo_block {
    background: #fff;
    margin-top: 20px;
}

.hc_fo_block .help_item {
    width: 250px;
    margin: 30px auto;
}

.hc_fo_block .help_item h3 a {
    color: #000;
}

.hc_fo_block .help_item ul {
    list-style: none;
    padding: 0;
}

.hc_fo_block .help_item ul li a {
    color: #1e90ff;
    font-weight: 300;
}

.hc_fo_block .help_item .sm_a {
    text-decoration: underline;
    color: #000;
}

.hc_fo_block .help_item .sm_a:hover {
    opacity: 0.5;
}

.hc_t_block .help_fb_item {
    padding: 20px;
    border: 10px solid #FFF;
    border-top: 15px solid #FFF;
    background: #1e90ff;
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.hc_t_block .help_fb_item:hover {
    opacity: 0.8;
}

.po_s_block {
    background: #1e90ff;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.po_t_block {
    background: #fff;
}

.po_t_block .main_text p {
    font-size: 16px;
}

.po_t_block .com_text {
    background: #e5e5e5;
    padding: 20px;
}

.po_t_block .main_text a,
.po_t_block .com_text a {
    font-weight: 600;
}

.po_t_block .com_text span.title {
    font-weight: 600;
    font-size: 16px;
}

.po_fo_block .q_c_block {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: 600px;
    border-top: 2px solid #e2e4e7;
    border-bottom: 2px solid #e2e4e7;
    padding: 10px 0 10px 0;
    text-align: center;
}

.po_fo_block,
.po_fo_block .q_c_block div {
    display: inline-block;
    color: #fff;
}

.q_c_block p {
    color: #000;
}

.po_fo_block .q_c_block div a img {
    width: 40px;
}

.po_fo_block .q_c_block div a:hover {
    opacity: 0.6;
}

.po_fi_block .cont_article a {
    display: block;
    color: #000;
    margin-left: 20px;
    margin-bottom: 5px;
}

.po_fi_block h3 {
    display: block;
    color: #000;
}

/* cs style */
canvas { 
    display: block; 
    vertical-align: bottom; 
}
#particles-js { 
    position: fixed;
    width: 100%; 
    height: 100%; 
    background-color: #1E90FF; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
}
.splash-container {
    position: relative;
    width: 100%;
    max-width: 570px;
    margin: 0px auto;
    text-align: center;
    color: #FFFFFF;
    padding-left: 15px;
    padding-right: 15px;
}
.splash-container a img {
    max-height: 44px;
    width: auto;
    margin-bottom: 40px;
}
.splash-container h1 {
    font-size: 50px;
    font-family: 'Righteous', cursive;
    font-weight: 900;
    margin: 0px 0px 20px;
}
.splash-container h5 {
    font-size: 6rem;
    font-family: 'Righteous', cursive;
    font-weight: 900;
    color: #000;
    letter-spacing: 3px;
    margin: 0px 0px 20px;
    text-align: center;
}
@media (max-width: 768px) {
    .splash-container h5 {
    font-size: 6rem;
    font-family: 'Righteous', cursive;
    font-weight: 900;
    color: #000;
    letter-spacing: 3px;
    margin: 0px 0px 20px;
    text-align: center;
}
}
.splash-container p {
    margin: 0px 0px 35px;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    color: white;
}
.splash-container .form-input-holder {
    width: 100%;
    max-width: 430px;
    margin: 0px auto 50px;
    position: relative;
}
.splash-container .form-input-holder input[type=email] {
    width: 100%;
    height: 51px;
    opacity: 1;
    font-family: 'Righteous', cursive;
    color: #000;
    border: none;
    padding: 0px 128px 0px 15px;
    font-size: 16px;
    font-weight: 300;
}
.splash-container .form-input-holder input[type=submit] {
    width: 115px;
    height: 43px;
    font-family: 'Righteous', cursive;
    position: absolute;
    top: 4px;
    right: 4px;
    color: #FFFFFF;
    background-color: #222;
    font-size: 16px;
    font-weight: 600;
    border: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.splash-container .form-input-holder input[type=submit]:hover {
    background-color: #1E90FF;
}
.splash-container ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-align: center;
    width: 100%;
}
.splash-container ul li {
    display: inline-block;
    margin: 0px 15px;
    padding: 0px;
}
.splash-container ul li a {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.splash-container ul li a:hover {
    opacity: 0.7;
}
.splash-footer {
    position: absolute;
    width: 100%;
    text-align: center;
}
.splash-footer a {
    color: #FFFFFF;
    font-size: 16px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.splash-footer p {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 900;
}
@media only screen and (max-width: 550px) {
    .splash-footer {
        position: relative;
    }
}
@media only screen and (max-width: 1086px){
    #helpPage{
        a.help_fb_item{
            &:first-child{
                padding-top: 30px;
            }
            &:nth-child(2){
                padding-top: 30px;
            }
            &:nth-child(4){
                padding-top: 30px;
            }
        }
    }
}
@media only screen and (max-width: 1032px){
    #helpPage{
        a.help_fb_item{
            &:nth-child(2){
                padding-top: 35px;
            }
            &:nth-child(4){
                padding-top: 35px;
            }
        }
    }
}
@media only screen and (max-width: 990px){
    #helpPage{
        a.help_fb_item{
            &:nth-child(1){
                padding-top: 21px;
            }
            &:nth-child(2){
                padding-top: 21px;
            }
            &:nth-child(3){
                padding-top: 21px;
            }
            &:nth-child(4){
                padding-top: 21px;
            }
        }
    }
}
@media only screen and (max-width: 610px){
    #helpPage{
        a.help_fb_item{
            &:nth-child(4){
                padding-top: 31px;
            }
        }
    }
}
@media only screen and (max-width: 580px){
    #helpPage{
        a.help_fb_item{
            &:nth-child(2){
                padding-top: 31px;
            }
        }
    }
}
@media only screen and (max-width: 515px){
    #helpPage{
        a.help_fb_item{
            &:nth-child(4){
                padding-top: 42px;
            }
        }
    }
}
@media only screen and (max-width: 462px){
    #helpPage{
        a.help_fb_item{
            &:nth-child(2){
                padding-top: 45px;
            }
        }
    }
}
@media only screen and (max-width: 445px){
    #helpPage{
        a.help_fb_item{
            &:nth-child(2){
                padding-top: 31px;
            }
        }
    }
}
@media only screen and (max-width: 435px){
    #helpPage{
        a.help_fb_item{
            &:nth-child(4){
                padding-top: 31px;
            }
        }
    }
}